[2017-12-04 17:43] #259 closed

[2017-12-06 01:34] chopchop505 opened #260 "v.5.5.3"
1. Issue Description

There is no version for v.5.5.3.

2. Reproducing the Issue step-by-step

3. Expected Results vs. Actual Results

4. Additional Details

[2017-12-06 04:44] pgnaleen commented on #258
please give us work around for this problem.

[2017-12-06 04:44] pgnaleen commented on #257
please give us work around for this problem.

[2017-12-06 18:24] goveebee opened #261 "Feature Request: Custom Report Filename"
Hi!

I'm trying to name my reports sent by Sentinl by e-mail. It looks like it's possible via the path field in actions, but I get no difference if I fill it in or not. The file generated by Sentinl is named cidmy-report and that's not looking good. How do I use the path-field to achive this?

[2017-12-07 09:37] lmangani commented on #261
Hi @goveebee please attach an example of your current configuration for advice. The path is only used to determine the location where to save the data, not involved in naming of the file.

[2017-12-07 09:58] goveebee commented on #261
This is what I've got now. It's running well, but it would be nice to be able to change the file name of the mailed file. Is it also possible to have the leftside menu collapsed in the reports?

`{
  "_index": "watcher",
  "_type": "sentinl-watcher",
  "_id": "iihlkjpeh1n-zhb0jhrcaqf-aw5svaa0t7e",
  "_version": 10,
  "found": true,
  "_source": {
    "title": "Daglig snapshot",
    "disable": fals

[2017-12-07 10:04] lmangani commented on #261
Hi @goveebee SENTINL only takes a screenshot at this time and does not attempt to interact with content, so if you can generate a link without bar (maybe embed link?) it should work fine. I suggest you rename this Issue to Feature Request: Custom Report Filename and we'll add it to the todo list.

[2017-12-07 10:11] goveebee commented on #261
Ok. Thanks for your support! :)

[2017-12-08 03:06] wuhg6564 opened #263 "Could I Get The payload.hits.hits?"
I could get the email from sentinl,but the content of actions's body which can not meet my needs. I can get the email such as "Found 7 Events" by the setting of actions body "Found {{payload.hits.total}} Events".Could I get the payload.hits.hits by which I can get the content I want.
thanks so much

[2017-12-08 03:27] mikejkjr opened #264 "Feature request: Support forcing all webhook traffic through a proxy"
I'd like to use Sentinl webhooks in our Kibana installation, which runs in a Kubernetes cluster. Our Kibana is used by a small group of customers. Since Sentinl webhooks can be changed through the UI to hit any arbitrary host, myself and my security associates are concerned that installing Sentinl would allow our customers to potentially hit our servers from within our own network.

Kubernetes' ne

[2017-12-08 09:35] lmangani commented on #263
Yes, you can. Just follow the examples and use the mustache syntax. Thanks.

[2017-12-08 09:35] #263 closed

[2017-12-08 09:39] lmangani commented on #264
Hi @mikejkjr this type of feature is available in the Enterprise version of Kibi, which includes granular access control to platform features. This being said, feel free to submit a PR and we'll happily consider it.

Thanks!

[2017-12-08 10:43] jccq commented on #264
@mikejkjr after conversation , what you're asking is not exacty the same thing as what's available in the http://support.siren.io platform distribution of Sentinl so if you'd like to propose a PR we'll be looking into that for integration. Thanks for your contribution.

[2017-12-10 18:13] lmangani commented on #260
Hi @chopchop505 as a workaround you can download [5.5.2](https://github.com/sirensolutions/sentinl/releases/download/tag-5.5/sentinl-v5.5.2.zip), unpack, modify the ```package.json``` version number to ```5.5.3```, and repack for installation. You can also use the following format to support multiple 5.5.x versions:
[code]

[2017-12-10 18:16] lmangani commented on #131
reopen if still needed. the spy button will be replaced in future versions with integrated kibana tools.

[2017-12-10 18:16] #131 closed

[2017-12-11 09:20] Crazyigor1987 commented on #254
Hi,

is there any update regarding this problem?

[2017-12-11 09:43] cyberdak opened #265 "bug : report did'twork with kibana with searchguard plugin."
i use kibana 5.4.3 with searchguard  plugin.
it has a login page and session manager.

when i config a dashboard like this .

    "actions": {
      "测试报表": {
        "throttle_period": "0h15m0s",
        "report": {
          "to": "to@qq.com",
          "from": "from@qq.com",
          "subject": "Sentinl Report",
          "priority": "high",
          "body": "Sample Sentinl Screenshot Report"

[2017-12-11 09:47] sergibondarenko commented on #265
@cyberdak please show us kibana.yml part related to Sentinl

[2017-12-11 10:01] cyberdak commented on #265
[code]

[2017-12-11 10:34] sergibondarenko commented on #265
@cyberdak SearchGuard support for the report action was added in **v5.5.X**.
The kibana.yml syntax for it
[code]

[2017-12-11 10:52] cyberdak commented on #265
5.5.x ? this means i must update my es cluster , kibana to 5.5.x .
it is too expensive.

can we backport this featrue to 5.4.x which the feature did't need 5.5.x's featrue ?

[2017-12-11 11:21] jccq commented on #265
sorry we dont plan to update 5.4. we're working on 5.6 and support for 6 to come next year. We'll accept a PR for that version if you submit it, if its of commercial interest contact us for a quote.

[2017-12-11 19:08] mikejkjr commented on #264
Ok. I'll get started on it then, and hopefully will have something for ya'll to look at soon!

[2017-12-11 22:03] robertjustjones opened #266 "Reporter broken for stringent smtp server (SES)"
1. Issue Description

When setting up a Reporter with Amazon SES as the smtp server, I'm getting an error on the smtp send with the attachment. Regular watched alerts are going through just fine, only when attachments (png pr pdf) are involved.  Here it is when running in dev mode:

[code]

2. Reproducing the Issue step-by-step

3. Expected Results vs. Actual Results

The email should go through w

[2017-12-13 04:56] bopagama opened #268 "Sentinl Condition Error : "TypeError: Cannot read property 'value' of undefined""
I have create a Sentinl Alert As follows,

[code]

But I'm getting an error in logs saying follows,
`"message":"Watcher new_watcher_6ezixjp4l: Error: Condition 'script' error for new_watcher_6ezixjp4l: TypeError: Cannot read property 'value' of undefined"}`

This alert was working perfectly earlier I have no idea what was happen.

[2017-12-13 09:46] umeshvasam opened #269 "Sentinl report sending unknown format"
I have given kibana dashboard url while creating report using sentinl. I am receiving report but unknown format like below attached image.Please find below my kibana.yml configuration as well.
[code]

[2017-12-13 09:50] lmangani commented on #269
Hi @umeshvasam Thanks for your report. I'm sorry but I do not understand your case as we do not know the original nor your expectation. A screenshot is generated so I can't comment on its content. Please re-open an issue following the required fields and format from the template, and we'll gladly assist.

[2017-12-13 09:50] #269 closed

[2017-12-13 09:58] umeshvasam opened #270 "Alert custom conditions using sentinl"
we were able to trigger an alert but only getting payload count , but i want alert for own customized conditions like load >70 but that does not seem to be working with our nested aggregations .Below is my sentinel input ...can someone post an nested aggregation example on how tho achieve alert for nested aggregation field.

[code]

[2017-12-13 10:01] lmangani commented on #270
Hi @umeshvasam we need to see an example response to advice as of what's wrong with your rule. Typically, its a syntax error or attempt to iterate bucket properties the wrong way.

[2017-12-13 10:06] umeshvasam commented on #269
Hi @lmangani  following are the kibana .yml and raw request for an alert triggering .we are getting report  as scehduled but report is in unknown format ...do we have to change any configuration settings for the report to function normally ...please have a look at the configuration
--------------kibana.yml------------------
sentinl:
  settings:
    email:
      active: true
      host: mail.****co

[2017-12-13 10:14] umeshvasam commented on #270
Following is my kibana request and response .please have a look we need to trigger an alert when pct_load >70  ...we are able trigger an alert for the payload count ...we are not able to find the correct configuration for triggering alert with aggregations ...please help us..
[code]
This is response

[code]

[2017-12-13 10:24] lmangani commented on #270
Your approach reaching the data of interest is incorrect. As you can see there is no such thing as ```payload.aggs.pct_load``` in your response, those values are inside the aggregation buckets and you need to iterate the results to check if any exceeds your threshold.

There are two approaches - manual and scripted:
## Manual
Here's an example looking at ```doc_count``` inside each you can modify

[2017-12-13 10:28] lmangani commented on #269
Please try to follow the suggested format for reporting issues or won't be able to help much;

* Be precise: describe expected results vs. actual results
* Be clear: explain how to reproduce the problem, step by step
* Include only one problem per report
* Include details about your setup/system/os where possible

##### Example
1. Issue Description

2. Reproducing the Issue step-by-step

3. Expect

[2017-12-13 11:07] umeshvasam opened #271 "I am unable to create Set Alarm"
When i click **Set Alarm
![set alarm](https://user-images.githubusercontent.com/34505716/33935930-aadfc888-e023-11e7-8bc6-7ec3690a92a5.png)

** button it redirected to http://kibana.xxx.com:5601/app/sentinl#/wizard?_g=() . Its asking for:
![wizard](https://user-images.githubusercontent.com/34505716/33935947-bc9416a6-e023-11e7-8a1f-552ffcaef45c.png)
[code]
I given all required information after tha

[2017-12-13 11:15] umeshvasam commented on #269
I am getting report like this "Unknown format"
![cid_my_report](https://user-images.githubusercontent.com/34505716/33936088-42812e8e-e024-11e7-8df3-5363fc0c28d0.png)

Instead of this:

![dashboard](https://user-images.githubusercontent.com/34505716/33936274-0113427e-e025-11e7-9e82-c7b64c14f142.png)

[2017-12-13 11:53] lmangani commented on #269
Hi @umeshvasam

I suppose this only happens for your Kibana and not other websites, correct?

The issue seems to be with the character-encoding (or font?) returned by the host. I see the correct screenshot presents two different ones at least, but I have no idea how to reproduce this. This said, screenshots are powered by PhantomJS in SENTINL, which is a headless WebKit browser with many limitatio

[2017-12-13 11:55] lmangani commented on #269
If you find the two results are different, please open a new issue with the full test details - thanks!

[2017-12-13 11:56] lmangani commented on #271
Hi @umeshvasam you need to check the Elasticsearch logs, and provide the full Error for troubleshooting. If you have any other plugins installed (Authentication, X-Packs, etc) it should be noted, too.

[2017-12-13 12:19] lmangani commented on #268
Hi @bopagama
```payload.aggregations.cpu_utilization.value > 0.002``` is not a valid format to navigate aggregation buckets - you need to iterate it in a JS script, or just use the new [array-compare-condition](https://github.com/sirensolutions/sentinl/wiki/SENTINL-Watcher-Anatomy#array-compare-condition)

[2017-12-13 12:29] lmangani commented on #265
Closing issue. PR Welcome.

[2017-12-13 12:29] #265 closed

[2017-12-13 12:29] lmangani commented on #266
Thanks for the PR! Will be included in upcoming releases.

[2017-12-13 14:56] neelrana opened #272 "Sentinl-v6.0.0 configuration issue"
I am trying to install and configure Sentinl-v6.0.0 with Kiabana (version 6.0.0). There is some problem with configuring to kibana which I cannot figure out how to solve it. I used the following commands to download and install Sentinl 6.0:

1) /usr/share/kibana/bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-6.0.0/sentinl-v6.0.0.zip

2) 	cd sentinl
	npm i

[2017-12-13 16:35] vroyer opened #273 "Missing authentication header when requesting secured elassandra"
1. Issue Description
When authentication is enabled on elassandra (5.5.0.8 #146-branch), sentinl does not send any authentication header in one search request, and rejection cause an error. It should at least retry with the appropriate authentication header rather than throws an error. All other requests to elasticsearch are authenticated with the **kibana** account or the one used to log in kiban

[2017-12-13 16:36] vroyer commented on #273
Used sentinl version = v5.5.1 (https://github.com/sirensolutions/sentinl/releases/download/tag-5.5/sentinl-v5.5.1.zip)

[2017-12-13 16:56] vroyer commented on #273
Same error with sentinl version 5.5.0 for kibana 5.5.0 as shown in the following trace

[code]

[2017-12-13 17:21] lmangani commented on #273
Hi @vroyer I need to confirm this with @sergibondarenko but I think this feature set is only available in 5.6.x we'll discuss backporting it as this is not the first request. Will update.

[2017-12-13 20:30] EricFlis commented on #257
We found a solution which will work until the Sentinl code catches up with Elasticsearch changes. Unfortunately it requires a minor manual modification to the input code when you go to set a watcher. It involves removing the line which defines the index, Sentinl still seems to know where to pull the data from without this reference. Code sample below (with line in bold text that is changed:

[code

[2017-12-14 00:14] EricFlis opened #274 "Sentinl Watcher not picking up payload"
1. Issue Description

We are currently trying to use Sentinl for generating Alerts in Kibana as well as to send Alerts via webhook to a remote API using POST.

We found when we first set up Sentinl that there was a breaking change as we are on ElasticSearch 6.0 which was to due with index error related to changes in ES 6.0.

I found a work around to this issue, which requires an edit to the line o

[2017-12-14 07:27] bopagama commented on #268
I have constructed the Condition as follows
[code]
But It gives me the error as follows in Sentinl web interface

[code]
What does that error mean? this error refers which JASON code?

[2017-12-14 08:04] jerpic opened #275 "Schedule a watcher : Need help for the configuration."
Hello,

First of all, many thanks for this Great solution.

I would like for a specific watcher be able to schedule it like this (with 2 periods) : every 5 secs from 8am to 9pm and every 2mns from 9pm to 8am. Does it possible ? Do you have an example please ?

According to this 2 periods, does it possible to have a timestamp value (in the query) per period ?

I mean for the first period : every 5

[2017-12-14 10:43] DimaBogdan-phie opened #276 "Problem with configuration"
Hello!

I have ELK Stack, which is protected by searchguard. Kibi works properly, but watcher/reporter does't execute. every 1 min (set in watcher config) I get an error in kibi logs:
<pre>
kibi           | {"type":"log","@timestamp":"2017-12-14T09:33:55Z","tags":["status","debug","Sentinl","scheduler
"],"pid":1,"message":"Reloading Watchers..."}
kibi           | {"type":"log","@timestamp":"2017-1

[2017-12-14 10:55] lmangani commented on #276
Not all versions / releases are the same. What version of ELK and SENTINL are you actually using?

[2017-12-14 11:08] DimaBogdan-phie commented on #276
<pre>
  "name": "sentinl",
  "version": "5.4.3-1",
  "kibana": {
    "version": "5.4.3"
  }
</pre>
Actually I downloaded demo siren platform with preinstalled sentinl from https://support.siren.io/support/solutions/articles/17000058666-platform-5-4-3-1 , disable and remove all unnecessary for me things (graph browser, gremlin server, vanguard plugin..)

[2017-12-14 11:26] sergibondarenko commented on #273
Hi @vroyer
What type of authentication is used?

[2017-12-14 11:51] henghenghahai opened #277 "how to configure "Actions" to show all the detailed payload?"
Hi guys,
   I've built ELK5.6.4 with sentinl, and want to send mail out by sentinl.
Normally, after the "INPUT" filter, there will be many events in the payload,I want to send out all the detailed payload ( or some specified columns).

currently,I only configure blow in "Body" of "Actions" to show the payload list by assign payload.hits.hits.**number**,but it's inflexible and insufficient, maybe t

[2017-12-14 12:13] lmangani commented on #277
Hi @henghenghahai
You can absolutely do this in different ways - you can iterate and create a custom object for Actions in the ```transforrm``` scripts, or you can use ```mustache```syntax to iterate the payloads from the Action itself. I invite you to read our Wiki and [presentation](https://github.com/sirensolutions/sentinl/wiki#new-to-sentinl-and-watchers) which will answer most of your questio

[2017-12-14 12:13] #277 closed

[2017-12-14 12:17] lmangani commented on #275
Hi @jerpic and thanks for using SENTINL!

My suggestion would be to schedule 2 separate watchers, one of each interval, and each with the custom range query you desire. Our [presentation](https://github.com/sirensolutions/sentinl/wiki#new-to-sentinl-and-watchers) and [Wiki](https://github.com/sirensolutions/sentinl/wiki/SENTINL-Watcher-Anatomy#trigger-schedule) provide some generic examples you ca

[2017-12-14 12:17] #275 closed

[2017-12-14 12:21] lmangani commented on #276
Have you configured authentication details anywhere?

[2017-12-14 12:50] lmangani commented on #272
@neelrana the 6.x release is for developers only at this stage and not yet supported/supportable.
Any PRs are welcome, but unless You (or others) can contribute code/time, I wouldn't expect this before late Q1 2018.

Thanks for your report!

[2017-12-14 12:50] #272 closed

[2017-12-14 12:53] lmangani commented on #274
@EricFlis thanks for your report and for using SENTINL - we'll dig into this and confirm if its a bug or misconfiguration.

[2017-12-14 12:55] lmangani commented on #274
@EricFlis please submit a PR with the workaround, we might not merge it but could come useful as reference during development. Thanks!

[2017-12-14 12:58] jerpic commented on #275
Many thanks @lmangani for your answer, it's clear.

[2017-12-14 13:08] jerpic opened #278 "Retrieve additional information for the action."
Hello,

Today I have a watcher (working well, thanks Sentinl) which raise the number bookings (KO) over the last **15** minutes. I'm able with a script to retrieve the number of bookings (OK & KO) and display this information in the email alert.

My question is : Is there a way to retrieve the number of bookings (OK & KO) over the last 60 minutes when the watcher (the last 15 minutes) raises the a

[2017-12-14 13:32] DimaBogdan-phie commented on #276
**sg_config.yml**:
<pre>
searchguard:
  dynamic:
    http:
      anonymous_auth_enabled: false
      xff:
        enabled: false
    authc:
      transport_auth_domain:
        enabled: true
        order: 2
        http_authenticator:
          type: basic
        authentication_backend:
          type: internal
      basic_internal_auth_domain:
        enabled: true
        http_authenticator:

[2017-12-14 13:35] DimaBogdan-phie commented on #276
in **kibi.yml** I also have this:
<pre>
kibi_access_control:
  enabled: true
  cookie:
    password: "12345678123456781234567812345678"
    secure: false

  admin_role: kibiadmin
  sentinl:
    elasticsearch:
      username: sentinl
      password: sKzM2VBBB5x2
  acl:
    enabled: false
</pre>

[2017-12-14 13:49] sergibondarenko commented on #276
Hi @DimaBogdan-phie
The following config is needed only if you want to impersonate watcher. In Sentinl, impersonation is attaching specific authentication credentials to a watcher. Of course, the credentials should be configured on Search Guard side. Also, the credentials should be inserted in the username an password input fields in the General tab of the watcher editor.
[code]

You don't need al

[2017-12-14 13:59] neelrana commented on #272
Hi,

No problem, Thank you for all your work! So which is the best version of Sentinl to use so far in your opinion? I have ELK 6.0 at the moment. So I would probably have to downgrade to match the Sentinl plug-in version?

[2017-12-14 14:00] neelrana commented on #272
I was also wondering, the whether steps that I have stated above in the problem description are correct inorder to install and configure Sentinl with Kibana? Am I missing anything or do I need to do anything else. Please let me know. Again thanks in advance.

[2017-12-14 14:04] sergibondarenko commented on #250
@sethyes this was fixed in the following versions: v5.5.X and v5.6.X
Now you can insert human schedule directly in the General tab. Also you can see when it is executed. Look this demo video https://www.youtube.com/watch?v=PJNxclZSwk4&t=1s&list=PLvxLmGsmqdZdUm6kNNfjL2pD-UhNtfw6b&index=9

[2017-12-14 14:04] #250 closed

[2017-12-14 14:08] sergibondarenko commented on #260
Fixed, you can download .zip which attached to the release https://github.com/sirensolutions/sentinl/releases/tag/tag-5.5

[2017-12-14 14:08] #260 closed

[2017-12-14 14:14] lmangani commented on #272
@neelrana 5.6.x is the most active branch at the moment, until we'll switch to 6.x next year. Thanks!

[2017-12-14 14:57] sergibondarenko commented on #276
@DimaBogdan-phie here is the recently updated wiki page about authentication in Sentinl https://github.com/sirensolutions/sentinl/wiki/Authentication

[2017-12-14 15:37] vroyer commented on #273
Hi Sergii,
This is a standard HTTP Basic authentication.

[2017-12-14 16:45] neelrana opened #279 "Sentinl-v5.6.5 configuration issue"
_1. Issue Description_

Hi, I have a configuration issue with sentinl version 5.6.5 with ELK (elasticsearch + logstatsh + kibana) 5.6.5.

_2. Reproducing the Issue step-by-step_

I followed through the following steps to install sentinl:

a) /usr/share/kibana/bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-5.6.2/sentinl-v5.6.5.zip

b) git clone https://git

[2017-12-14 17:04] lmangani commented on #279
Please use a ZIP [release](https://github.com/sirensolutions/sentinl/releases) for your version. This is the supported installation method. Feel free to comment if still needed.

[2017-12-14 17:04] #279 closed

[2017-12-14 17:27] sergibondarenko commented on #279
Hi @neelrana
Please check the installation instruction update https://github.com/sirensolutions/sentinl/wiki/SENTINL-Installation#kibana-5x

[2017-12-14 17:36] sethyes commented on #250
Thanks Sergii!

*Best Regards,*

*Seth Smith*
*Seth@SethSmith.net*
*406.451.3462*

On Thu, Dec 14, 2017 at 7:04 AM, Sergii Bondarenko <notifications@github.com

[2017-12-14 19:38] DimaBogdan-phie commented on #276
Thanks!

I've tired this before and had another error.
Now I did what you suggested, and have this:
<pre>
kibi           | {"type":"log","@timestamp":"2017-12-14T19:18:55Z","tags":["status","debug","Sentinl","scheduler"],"pid":1,"message":"Reloading Watchers..."}
kibi           | {"type":"log","@timestamp":"2017-12-14T19:18:55Z","tags":["status","debug","Sentinl","scheduler","auth"],"pid":1,"messa

[2017-12-14 20:25] EricFlis commented on #274
Hi Imangani,

The error we are seeing in the logs is the same as the one we used the work around. Link to previous discussion on issue here:

https://github.com/sirensolutions/sentinl/issues/257

Can I ask what a PR is? I am not a developer, I am a nob technical manager! ;)

[2017-12-14 22:59] EricFlis commented on #274
Update

I did some further testing and it seems to confirm the issue has to do with saving the payload.

In the webhook action settings I have had both generate alert and save payload options ticked. I deselected the save payload options and it generated an alert to the dashboard just fine. Code from the generated alert is below, as can be seen there is no payload as I have deselected the save pay

[2017-12-15 00:57] Izayuh commented on #257
Is the only work around change removing the index? Or what other changes should I be looking for within this sample code?

[2017-12-15 01:10] EricFlis commented on #257
Just removing the index name,that is all.

[2017-12-15 09:24] jerpic commented on #278
Hello,

In order to solve my problem, I tried to use the "chain transform" see the code of my watcher here:

Unfortunately, the original payload is replaced by the new one from the chain transform. How can I keep the orginal values ?

{
  "_index": "watcher",
  "_type": "sentinl-watcher",
  "_id": "a1cg2uvmajq-92bhlgtl5dh-74wzecwvgdu",
  "_version": 7,
  "found": true,
  "_source": {
    "title":

[2017-12-15 11:42] neelrana commented on #279
@lmangani and @sergibondarenko Thank you for your reply. I reinstalled Sentinl following the steps shown in the wiki under user mode. However, I still get the same issue.

I did `grep version package.json` and I get:
[code]
I understand that sentinl and kibana versions need to be the same. But I dont understand the "_"version": "5.6.4-SNAPSHOT",_". Is this the problem? or could it be something els

[2017-12-15 11:50] neelrana commented on #279
If you look on the fifth line of the error message, it says:

Not sure where directive name variable is though

[2017-12-15 13:26] akaFalsh commented on #67
Have little bit different problem, but still related to proxy. I am trying to post webhook to slack via proxy server. I am using following settings:
[code]
But I recieve an error:
[code]
I am using kibana 5.6.4 with openssl 1.0.2l-1~bpo8+1 on Debian Jessie.

[2017-12-15 13:29] akaFalsh opened #280 "Error when posting to slack webhook via proxy"
**1. Issue Description**
I am trying to post message in slack via webhook from the node behind proxy.
I recieve an error:
[code]

**2. Reproducing the Issue step-by-step**
I am using following settings:
[code]

**3. Expected Results vs. Actual Results**
When I am trying to post something to this webhook via curl with proxy setting everything is working fine.

**4. Additional Details**
I am using k

[2017-12-15 17:45] Izayuh commented on #257
I get the same error now when I run the watcher. "Rejecting mapping update to [watcher_alarms-2017.12.15] as the final mapping would have more than 1 type: [n24dd03ugfh-408whtx2lcc-cg7z92hsfzl_Slack message, Slack message]

[2017-12-15 17:49] lmangani commented on #67
This would suggest the port is either wrong (config) or wrongly enforced (our bug)
Could you confirm to what port SENTINL attempts to send the webhook to?

[2017-12-15 23:03] EricFlis commented on #257
See my other open issue here:

https://github.com/sirensolutions/sentinl/issues/274

[2017-12-18 09:14] EricFlis commented on #274
Can anyone advise whether there is a difference in the way the save payload is picked up from Elasticsearch between email alerts and webhook?

[2017-12-18 09:23] sergibondarenko commented on #274
Hi @EricFlis What version of Sentinl do you use?

[2017-12-18 09:27] EricFlis commented on #274
Hi,

We installed the version for Elasticsearch 6.0.

[2017-12-18 11:13] akaFalsh commented on #67
I can confirm that port is correct and sentinl tries to send the webhook to right url. I had  tried to post message from machine that is running sentinl to slack channel with curl and it worked successfully.

[2017-12-18 12:17] neelrana opened #281 "How do I add variables to the message filed?"
1. Issue Description

I am new to this so sorry for stupid question. But I am trying to create a watcher which has a console action. This alert is triggered whenever it comes across  a web error code 304. I want the message to print "Response 304 found with 45 events" (for example). So I am simply trying to print variable values on console (just like any programming language).

2. Reproducing the

[2017-12-19 13:16] shaqdan opened #282 "Condition 'script' evaluated to false"
1. Issue Description
Hi Experts,
I have successfully ran this watcher yesterday, but now, I got the flowing error:
Sentinl Watchers: Condition 'script' evaluated to false: xyhf1eck6lo-i2zt1azvbf-2cih8sk4u3v

2. Reproducing the Issue step-by-step
At the same time, I didn't see any error messages in log files. Would you please give me some advices on how to resolve it? thank you very much! Please se

[2017-12-19 13:26] shaqdan commented on #282
Hi Experts,

I have successfully ran this watcher yesterday, but now, I got the flowing error:
Sentinl Watchers: Condition 'script' evaluated to false: xyhf1eck6lo-i2zt1azvbf-2cih8sk4u3v

At the same time, I didn't see any error messages in log files. Would you please give me some advices on how to resolve it? thank you very much! Please see my raw code below:
{
  "_index": "watcher",
  "_type": "

[2017-12-20 08:22] EricFlis commented on #274
We are still trying to figure out what/where the issue is. Below is the log with the error message in bold, it shows events related to the Webhook POST. Everything seems alright until the last error.

Any thoughts or guidance would be greatly appreciated.

[code]

[2017-12-20 16:04] burandobata commented on #281
If you would like to iterate through results and check particular fields you will need to use mustache syntax like:
"body": "Events: \n{{#payload.hits.hits}}{{_source.message}}\n{{/payload.hits.hits}}

Maybe you will find this handy: https://mustache.github.io/mustache.5.html

[2017-12-20 16:17] bozzerreaneaux opened #283 "Sentinl supported on Windows Server 2012R2?"
Hello,

trying to get sentinl working on a Windows box but having trouble. I was wondering if it's actually supported?

I have Elasticsearch and Kibana on the same server. Installed Sentinl via

kibana-plugin.bat install file///<path/to/sentinl.zip>

It installs successfully without any errors and I can see the plugin loaded in the kibana plugins directory. I also see the sentinl tab in the web UI

[2017-12-21 10:09] jerpic commented on #193
Hello @rohitchaudhary95 , I have exactly the same issue, did you find a solution ?

Regards

[2017-12-21 10:51] enterdv opened #284 "Timezone"
Hi! Thanks for you work!

My question: Is it possible to send the time in alert not in UTC but in my local time?
Now in my alert I have time in this format - 2017-12-20T15:03:57.000Z

[2017-12-21 13:28] enterdv commented on #283
Try with another browser, it's not working on Internet Explorer.

[2017-12-21 15:14] bozzerreaneaux commented on #283
gosh! thank you!
it works on chrome :)

[2017-12-21 15:14] #283 closed

[2017-12-25 07:49] #282 closed

[2017-12-26 16:57] lmangani commented on #284
Hi @enterdv
You can try set ```sentinl.es.watcher.schedule_timezone``` to ```local``` for later.js to use the ```localTime``` - mind the fact UTC is used internally has a bunch of good reasons to be the default particularly when dealing with distributed clusters across timezones.

[2017-12-26 16:57] #284 closed

[2017-12-26 17:01] lmangani commented on #281
@burandobata is right. You need to use the proper ```mustache``` syntax to iterate objects. Thanks!

[2017-12-26 17:01] #281 closed

[2017-12-28 14:36] enterdv commented on #284
Hi @lmangani
Thanks for your answer! And where can I found later.js? And how excactly I should set the option `sentinl.es.watcher.schedule_timezone`

[2017-12-28 17:56] lmangani commented on #284
This is a preference to be edited in the sentinl portion of your kibi/yml or kibana.yml either.

[2017-12-28 22:10] DimaBogdan-phie commented on #276
You can close this issue. That was a problem with roles and permissions.

[2017-12-28 23:20] #276 closed

[2017-12-29 03:37] wlyu opened #285 "How do I get a detailed alarm error message？"
How do I get a detailed alarm error message？

E.g：
"message"："the userName is null"

[2017-12-29 06:11] #285 closed

[2018-01-03 11:16] neelrana commented on #277
@lmangani Hi, I am currently having the same problem as OP. I have looked at the presentation but could not fully understand the concept. I believe the hits are stored as an array  and in order to access this array we need to use the transform script (correct me if I am wrong). However, I am having trouble implementing that into my watcher.

Currently, I am manually typing out all the values of th

[2018-01-03 11:29] neelrana commented on #279
FIXED SOLUTION: Well the solution to this issue for me was to switch ther browsers. I was using Firefox ESR and Sentinl would not load. However, after switching to Google Chrome it started working!

Hope this helps :)

[2018-01-03 12:38] umeshvasam commented on #271
Hi @lmangani I did not installed any plugins like Authentication,X-Packs etc and in elasticsearch logs there is no any error, warning log information.

[2018-01-03 13:40] lmangani commented on #277
Hi @neelrana

mustache iteration is very [barebone](https://mustache.github.io/mustache.5.html):
[code]

Applying the above might solve your issue, but the approach I would suggest is "preparing" your data using a SENTINL JS transform script and simplify the mustache application to the minimum it is designed to do. You can consider this example iterating buckets and storing results where ```doc_co

[2018-01-04 01:29] zqc0512 opened #286 "in example about configure sentinl it have error"
Example (extended)
sentinl:
  es:
    host: localhost
    port: 9200
    timefield: '@timestamp'
    default_index: watcher
    type: sentinl-watcher
    alarm_index: watcher_alarms
    alarm_type: sentinl-alarm
    script_type: sentinl-script
  sentinl:
    history: 20
    results: 50
    scriptResults: 50
  settings:
    email:
      active: false
      user: username
      password: password

[2018-01-04 01:36] lmangani commented on #286
Thanks for spotting it! Fixed

[2018-01-04 01:36] #286 closed

[2018-01-04 08:09] zqc0512 opened #287 "there is some docs about how configure and use it (sentinl) how about kibi ?"
there is some docs about how configure and use it (sentinl) how about kibi
it now use sentinl not kibi about es 5.6.x?

1. Issue Description

2. Reproducing the Issue step-by-step

3. Expected Results vs. Actual Results

4. Additional Details

[2018-01-04 10:55] lmangani commented on #287
https://github.com/sirensolutions/sentinl/wiki

[2018-01-04 10:55] #287 closed

[2018-01-05 10:36] neelrana opened #288 "Alternative date-time format?"
1. Issue Description

Hi, I have set up a watcher that sends alerts to slack and email (and it works fine!). I was wondering wheter it is possible for the alerts to displace the time (extracted from the tag @timestamp) in a more readable date-time formate?

3. Expected Results vs. Actual Results

For example, at the moment I receive alerts and it prints this date-time format: 2018-01-05T10:28:05.0

[2018-01-05 10:47] lmangani commented on #288
@neelrana sure, you can use plan Javascript to convert any of your data or timestamps in a transform script, before reaching the final action stage. Beauty of SENTINL is payloads are direct drive.
[code]

Hope this helps.

[2018-01-05 10:47] #288 closed

[2018-01-05 11:14] neelrana commented on #288
Thanks for your response, Will this work?

[code]

I want all the elements in payload.hits.hits array to display alternative date-time format.

[2018-01-07 19:26] lmangani commented on #280
Hello @akaFalsh
As far as I can tell, this is either HTTPS via an HTTP-only proxy, or possibly an issue of policy dealing with the old insecure SSL which might have been removed by one of the elements, for instance. We'd need to know more about what the proxy is/does.

[2018-01-11 11:33] varun0002 opened #289 "Need to define smtp port"
Issue Description: We are using AWS SES and unable to send email using this environment with SSL:true it gives Error: connection encountered an error &  with SSL:false it gives Error: authorization.failed. It appears with AWS SES we need to use port 587. However, smtp.js uses port 25 for non-ssl and port 465 for ssl. Please let us know how to define/configure port # for smtp server.

Expected Resu

[2018-01-12 13:18] varun0002 commented on #289
Able to resolve this issue by updating smtp.js, from _this.tls = options.tls || false;__ to _this.tls = options.tls || true;_ However, it'll be better to have tls enable & custom port option in settings/configuration.

[2018-01-12 13:24] lmangani commented on #289
@varun0002 thanks! we'll definitely include this on the configurable options in future releases.

[2018-01-15 14:39] DwijadasDey opened #290 "Sentinl in Kibana 5.6.5"
Hi
I am trying to generate PDF reports using sentinl and for that i have installed sentinl in ubuntu 16.04 using following command.

$ ./bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-5.6.5/sentinl-v5.5.1.zip
I can find the sentinl link in the kibana [5.6.5] left menu bar.

Now for report generation and sending them to my gmail account, i have copied the

[2018-01-15 14:48] lmangani commented on #290
Hi @DwijadasDey
A 5.5.1 release is not optimal for 5.6.5 and might have many side effects. You should download and install the proper release for your Kibana version whenever it exists:
[code]
Reports require PhantomJS on the system. Make sure you check for errors installing PhantomJS bundled with SENTINL and If needed, install it manually system with with npm before following the examples availab

[2018-01-15 14:48] #290 closed

[2018-01-15 16:10] neelrana opened #291 "Customised Slack Action"
1. Issue Description
Hi, I am trying to set a customised notification for slack on one of the watchers. Something like this:
![image](https://user-images.githubusercontent.com/9300684/34951101-0fb43480-fa0d-11e7-88f7-496b38458f47.png)

2. Reproducing the Issue step-by-step

To reproduce the custom incoming webhooks like above, I used their code like this into my slack action JSON code:

    "actio

[2018-01-15 16:16] lmangani commented on #291
Hi @neelrana indeed the current Slack notification integration is not direct and gets watered-down sending out only `text`, `channel` and `username`. We'll happily look into extending it to accept a full message in upcoming releases, or feel free to send a PR.

[2018-01-15 16:19] neelrana commented on #291
@lmangani  Oh I see, that's fine. I was wondering if I could do this with HTML on email actions? for example, customize to send out emails with Titles, cusotmized text and colour? Is this possible?

[2018-01-15 16:20] lmangani commented on #291
@neelrana you can do so with the pure webhook, where the body is completely up to you maybe?

[2018-01-15 16:20] neelrana commented on #291
Can purewebhook be used to message into slack channels then?

[2018-01-15 16:30] lmangani commented on #291
Absolutely, the slack body can be forged using `mustache` and the payload values and it should be fine until we get a chance to extend this in the coming weeks. I think other users were doing the same, and there might be examples on the Issue.

[2018-01-17 09:17] bozzerreaneaux opened #292 "Need some help with Watcher input and condition"
Hello,

I've been struggling with getting the input and condition parts right but can't seem to get the desired result.
 My problem is very similar to [this one](https://github.com/sirensolutions/sentinl/issues/200) (closed)
I am using ELK heartbeat to probe various service health endpoints. What I am trying to achieve is raise an email alert if heartbeat starts reporting a service down i.e. "up"

[2018-01-17 09:52] lmangani commented on #292
Hi @bozzerreaneaux
I think you might want to switch approach and use an aggregation query directly targeting the status you're after - there is no need to return all results and code the logic when the ES API can do this for you and bucket the results per host already. Take a look at [this](https://github.com/PhaedrusTheGreek/nagioscheckbeat/blob/master/blog/watch-heartbeat.sense) as starting poin

[2018-01-17 11:36] bozzerreaneaux commented on #292
Hi @lmangani ,

Thanks for the great suggestions!

I have modified the configuration a little to use "array_compare" in the condition and also tried to narrow down the input to focus only on records from the past 15 minutes however when I run the watcher I get:

Sentinl Watchers: Error 406 Not Acceptable: [parsing_exception] Unknown key for a START_OBJECT in [filter].

There seems to be a problem

[2018-01-17 11:39] lmangani commented on #292
@bozzerreaneaux the only available documentation right now is the wiki. If you find inaccuracies just feel free to edit or open an issue. As of the 406 its related to the filter format being different, unrelated to SENTINL. I'll close this issue as this does not seem to outline a bug, but feel free to continue troubleshooting and commenting further if advice is needed.

[2018-01-17 11:39] #292 closed

[2018-01-17 12:01] bozzerreaneaux commented on #292
Hi @lmangani, no problem, the only outstanding thing is where can I check what is the correct filter format for Sentinl? I took as example the ones published in the wiki and I tried the following structure but I still get the "Error 406 Not Acceptable: [parsing_exception] no [query] registered for [filtered]"

`{
  "search": {
    "request": {
      "index": [
        "<heartbeat-{now/d}>",

[2018-01-17 13:01] lmangani commented on #292
Sentinl does not have a query format - whatever works in ES should work in SENTINL with the very same results. Make sure you form your query using Dev Tools in Kibana, and once it works there just copy to the Watcher.

[2018-01-17 16:50] bozzerreaneaux commented on #292
@imangani, thank you

I thought the query structure was custom to sentinl.

All set!

[2018-01-17 20:12] mxj4 opened #293 "5.6.2 release tarball is broken"
I found the current 5.6.2 release tarball mixed with some later changes and it's not compatible with Kibana 5.6.2.

If I build the source from `tag-5.6.2` it works fine.

[2018-01-17 20:52] lmangani commented on #293
Thanks for the heads up! @sergibondarenko could you please check this out?

[2018-01-18 02:27] whx4J8 opened #294 "kibana use sentinl install success . but kibana not display sentinl page."
hello .
i use kibana 5.0.0 , elasticsearch 5.0.0 .
then i use this sentinl. https://github.com/sirensolutions/sentinl/releases/download/tag-5.4/sentinl-v5.0.0.zip
install ok . run kibana start .
expect result :
![687474703a2f2f692e696d6775722e636f6d2f50734e734169792e706e67](https://user-images.githubusercontent.com/8588664/35077782-c782df16-fc39-11e7-8f3d-ec52171a47fe.png)
actual result :
![wx2018

[2018-01-18 06:35] whx4J8 commented on #173
thanks for sharing ~

[2018-01-18 18:34] sethyes opened #295 "Broken 'Transform' script causes Watcher to silently fail"
1. Issue Description
When transform doesn't successfully execute, Sentinl silently fails to execute the watcher with little or no error in the Kibana logs.

2. Reproducing the Issue step-by-step
 - Create a watcher with the Transform not operating correctly. Execute the watcher. Monitor logs for errors regarding the failing watcher. Note that it never executes successfully, nor does it provide any

[2018-01-18 20:25] sethyes commented on #295
Also I suppose I'm just looking for documentation regarding the Transform scripting altogether -- what languages does it support etc..

I'm really just trying to get the [last comment in the array](https://stackoverflow.com/questions/6114435/in-mustache-templating-is-there-an-elegant-way-of-expressing-a-comma-separated-l) to be removed so this data may successfully be transmitted to Jira. An examp

[2018-01-18 21:30] lmangani commented on #295
Hi @sethyes and good to see you around! I'm not familiar with the format, could you add a simple `actual vs expected` results example or sketch to complement the above details?

As of the question, the transform and condition scripts are plain `javascript` and are execute server side but within SENTINL as opposed to ES - this being said, I think its possible to perform bucket script aggregations a

[2018-01-22 09:17] whx4J8 commented on #294
i change version to 5.4.3 is ok .

[2018-01-22 09:24] bozzerreaneaux opened #296 "Question: Need help with HTTP call to disable/enable watch"
Hello,

I just have a quick question - Need some help with devising an HTTP call to disable/enable a certain watch to simulate maintenance mode, so that alerts are not generated during say deployment time when services get shut down for a moment.

I've tried the following calls but can't seem to get it right:

[code]
[code]
Could someone give me a hint?

Thanks a lot!

--Boz

[2018-01-22 09:32] lmangani commented on #296
Hi @bozzerreaneaux
You can simply pull, modify and update the Watcher document in Elasticsearch. SENTINL should automatically pick up changes within seconds and reflect the new status at execution time.

[2018-01-22 09:45] bozzerreaneaux commented on #296
Thanks Imangani, got it to work:

[code]

[2018-01-22 09:45] #296 closed

[2018-01-22 10:33] #294 closed

[2018-01-24 13:09] neelrana opened #297 "Anomaly detection not working"
1. Issue Description

Hi, I am trying to set "whitelist" few usernames from the query results and only output usernames that are not in the whitelist (anomalies).

2. Reproducing the Issue step-by-step
Here is the code for 'conditions' section:

[code]

3. Expected Results vs. Actual Results

The watcher still sends alerts with the above usernames in the output for some reason. Have you got any id

[2018-01-24 14:49] lmangani commented on #297
@neelrana Interesting case. Any chance you could provide the actual response for troubleshooting? I suspect the anomaly detection won't work well with strings yet as It was mostly designed with timeseries anomaly in mind rather than terms, but this could be a good time to extend it. On the other hand, this would be easier to do in an actual Elasticsearch query - which brings us to the last questio

[2018-01-25 09:42] screwyy opened #298 "kibana in docker container"
Hello, how can I install this plugin in a kibana docker container, since "git" is not installed in the official container ?

[2018-01-25 10:14] lmangani commented on #298
@screwyy sure you can by using the ready archives directly as follows:
[code]

Hope this helps!

[2018-01-25 10:14] #298 closed

[2018-01-25 19:43] matteobaire opened #299 "Cannot access Kibana anymore after started a watcher."
Hello, I tried to set a watcher in order to find all hits for a specific _type in the input query. I ended up putting a query like "hit":{"index": "something", "type": "something"} under input (unfortunately I can't be more precise because i can't access kibana anymore)

Since I did something wrong I expected to get an error cliens-side or, at least, to be able to delete the watcher, instead now I

[2018-01-25 23:00] mreilly82 opened #300 "Sentinl for Kibana 6.x supported"
No issues to report, just looking to see if the Kibana 6.x would support Sentinl or if anyone has tried? I did not see anything in open posts for it and just wanted to inquire.

[2018-01-29 21:02] sethyes commented on #295
Good to see this product so matured from the early days. Well done @lmangani!

I suppose I should change the title to 'better error logging', as my primary issue is that when I attempt to apply plain javascript to the 'transform' field, the only way I know it failed is because my alerts never fire -- I don't see anything in the Kibana logs regarding failed javascript transform, nor a failed watche

[2018-01-29 21:02] #295 closed

[2018-01-30 09:52] permyakovsv commented on #300
+1

[2018-01-31 00:08] sethyes commented on #234
+1 for this -- in my config I need each event to fire an alert off to a Jira endpoint to update a ticket. This is only doable on a per-ticket basis, thus I'm unable to script a bulk update in the (typical) case I have more than one Jira ticket to update.

[2018-01-31 14:02] burandobata commented on #300
Hey,
I'm using Sentinl with Kibana 6.0.1. Have not tested everything, but emails and reports are working for me.

[2018-02-01 01:51] shah83 opened #301 "Need help understand Watcher"
Hello all, thks for the alternative to X-pack.
I am new to this product. Need help understand the watcher setup.

I looked for many examples and saw for condition it always has payload.hits. Question i have is can we have watcher for a saved visualization in Kibana. I am using Kibana for different purpose than network related tracking. My scenario is particular field value keep increasing day by d

[2018-02-01 02:52] reilee commented on #300
Removed index: watcher_alarms will break sentinl, and not possible to re-create it.

[2018-02-01 08:15] lmangani commented on #300
@reilee why would you do that? By the way, SENTINL creates its indices on startup. If it doesn't check why in the logs.

[2018-02-01 09:48] lmangani commented on #301
Hi @shah83 this should be easily achievable with SENTINL. You can check out this [presentation](https://www.slideshare.net/secret/gobTp9S3omqn9a) which should hopefully answer some of your questions. You can create a SENTINL Watcher from your existing visualization using the SPY Component as a starting point, too.

I hope this helps!

[2018-02-01 09:48] #301 closed

[2018-02-02 03:39] taoyantu opened #302 "use nginx proxy two kibana, sentinl send two action,how to do?"
i have a difficult question ,i use nginx proxy to two kibana , all kibana install sentinl ,when trigger alarm,the two kibana do the action ,so i have receive two email .
how to slove it problem , it is very worried .

thanks every one!

[2018-02-04 10:56] lmangani commented on #302
SENTINL should only run once per ES cluster, not on each Kibana instance - particularly if the two are connected to the same ES server(s). Future versions might bring this ability, but currently this is only available in the Siren stack. Hope this helps.

[2018-02-04 10:56] #302 closed

[2018-02-05 00:52] dgptamayo commented on #300
hi @burandobata - what sentinl release version did you use for kibana 6.0.1 and how did you get around the version check during install? did you manually extract the 5.x or 6.x release and modified the `package.json` file?

[2018-02-05 09:27] ssi0202 commented on #300
hey can you explain exactly how you got around the version check did you download the files and recompiled them and what if any changes did you make to get around the version check

[2018-02-05 09:56] ij3net commented on #300
Hi,
I'm also get sentinl working with ELK 6.1. Only kibana version required was changed in package.json
All working fine exclude sending alarms by SMTP. If anyone doing same please confirm that emails working or any work around. Possible this problem not related to sentinl directly.

[2018-02-05 09:57] dgptamayo commented on #300
hey @ssi0202

so i followed this instruction from the README.md

[code]
note the version flag

[2018-02-05 10:08] ssi0202 commented on #300
arh cool ill try that thanks

[2018-02-05 10:52] ssi0202 commented on #300
anyh way do do this easy on a windows machine?

[2018-02-05 19:35] shah83 commented on #301
Thanks it helped.

[2018-02-06 20:41] mxj4 opened #303 "Watcher got re-scheduled every 30 seconds"
1. Issue Description

On Sentinl git tag-5.6.2, Watchers got cleared then re-scheduled every 30 seconds, then I cannot configure watchers with intervals longer than 30 seconds.

2. Reproducing the Issue step-by-step

Copy an existing watcher and create a new one (change id, version, etc.), enable it.

3. Expected Results vs. Actual Results

There should be no "Clearing watcher..." logs from Kibana

[2018-02-07 04:05] mxj4 commented on #303
I checked the source code and it seems it is by design to clear later schedule every 30 seconds, the problem with my config is `later` [does not recognize `every 24 hours`](https://github.com/bunkat/later/issues/149), you have to use `every 1 day`!
During my test I also tried `at 12:00 am` and it still not working, then I found `later` [will parse `at 12:00 am` to 12:00 pm](https://github.com/bunk

[2018-02-07 09:52] lmangani commented on #303
@mxj4 there is no clear every 30 seconds - there is a "refresh" every 25 which either schedules or removes outdated watchers. The issues seems to be with the way you are provisioning or naming them, I suspect. In terms of the `later.js` details, those belong into the project wiki of `later.js` and since the syntax is a text parser, it would be less than ideal to parse the parser for error - we pre

[2018-02-07 17:41] mxj4 commented on #303
I created watchers by modify `_id` in `raw` tab, check `enable`, then save.

For `later.js`, the `every 24 hours` text is generated through sentinl UI, in the time picker there is no way to select days, so most user would try `24 hours`, I think that's something sentnl should fix.

[2018-02-07 19:25] lmangani commented on #303
AFAIK ```every 24 hours ``` worked just fine - will recheck and confirm

[2018-02-08 10:15] yuanhaocui opened #304 "Need some help with Watcher"
I got a error like this when execute a new Watcher:
Sentinl Watchers: Error 406 Not Acceptable: Not Acceptable

My transfrom looks like this:

      "script": {
        "script": "payload.errorCount=0;payload.hits.hits.forEach(function(){if(_source.error>0) {errorCount+=1;}});"
      }
    }

Here is the first lines of my query including the first record in the array:

  "took": 3,
  "timed_out":

[2018-02-08 11:28] Arun-Ghosh commented on #300
Same query : As mentioned in Release notes, 6.0.X release is a ALPHA RELEASE. When the GA is coming up ? Any idea ?

[2018-02-08 14:45] lmangani commented on #304
What version of ELK and SENTINL are you using? This is likely not the problem but your JS script seems potentially wrong, too - perhaps ```"payload.errorCount=0;payload.hits.hits.forEach(function(hit){if(hit._source.error>0) {payload.errorCount+=1;}});"```

[2018-02-09 03:08] yuanhaocui commented on #304
Hi @lmangani .
I used your JS script and it worked perfectly!  Thank you very much!
Now I got into a new trouble. T T
What should I do if I want to change the content's font color when error > 0?

[2018-02-09 04:02] mxj4 commented on #303
In the later issue I referenced, `every 24 hours` only fails on specific dates. In later.js wiki, they said they only support hour from 0 to 23.

[2018-02-09 13:01] lmangani commented on #303
Mistery solved, thanks for confirming this is the case then - the only option would be to "validate" that field against the later.js parser before accepting it

[2018-02-09 14:36] jccq commented on #303
Lorenzo having a confirmation that later.js understood our intent was the idea behind the feature to show when the "next invocation" was going to happen

maybe we should power that up and make "next invocations" with a list of next invocations e.g. 10/2 1:30  11/2 1:30  etc..   like a list of the next 10 ..  to make it even more clear if the system worked or not

[2018-02-09 14:38] lmangani commented on #303
@jccq this is part of the basic Gun extension, so it'll land when Gun does. Definitely covers this.

[2018-02-12 15:00] giulioroggero commented on #273
I've a similar error.
Sentinl don't send the authorization header.

I'm using kibana 5.6.5 basic authentication + sentinl 5.6.5 (tag 5.6.2)

I've to change the authentication type of kibana?

Thanks!

[2018-02-13 13:13] varun0002 opened #305 "Watcher Editor: Fail to initialize default templates"
_1. Issue Description:_
We noticed that Sentinl kibana plugin throws following error whenever watcher editor not exited last time and user clicked on other tab such as "Discover" tab during same browser session

Error: Sentinl Watcher Editor: Fail to initialize default templates: TypeError: Unable to get property 'condition' of undefined or null reference

_2. Reproducing the Issue step-by-step_
L

[2018-02-13 14:28] lmangani commented on #304
Great! If you want to change the output, you need to work HTML inside of your message. See examples ;)

[2018-02-13 14:28] #304 closed

[2018-02-13 14:45] higef opened #306 "Can't use object from payload array in email body"
My watcher generating following document https://hastebin.com/adaqobebej.json Required fields in payload:
      "aggregations": {
        "uniqe_name": {
          "doc_count_error_upper_bound": 0,
          "sum_other_doc_count": 0,
          "buckets": [
            {
              "key": "callCenterNameUnknown",
              "doc_count": 8
            }
          ]
        }
      }
Issue is I

[2018-02-13 14:50] lmangani commented on #306
Please show your actual SENTINL watcher configuration and its output here to get suggestions and assistance - thanks!

[2018-02-13 14:55] lmangani commented on #306
I took a peek - you didn't study your mustache, have you? :)
[code]

[2018-02-13 14:55] #306 closed

[2018-02-13 15:02] higef commented on #306
Yeah, I missed that. Thank you for quick response

[2018-02-13 15:13] lmangani commented on #306
No problem, happy to help and hope this gets you going ;)

[2018-02-14 09:45] lmangani opened #307 "Image Store (ignore)"
This thread contains images used across SENTINL wikis and readmes

[2018-02-14 09:45] #307 closed

[2018-02-14 09:46] lmangani commented on #307
![sentinl_annotation](https://user-images.githubusercontent.com/1423657/36197513-3ed7dd1a-1174-11e8-92e0-65c630ae63b9.gif)

[2018-02-16 19:18] mmolinac opened #308 "Incorrectly labeled version of sentinl plugin"
1. Issue Description

The version 5.6.5 of sentinl plugin is incorrectly reported as 5.6.4-SNAPSHOT after installed.

2. Reproducing the Issue step-by-step

I install version 5.6.5 of Sentinl plugin with the following command:

    /usr/share/kibana/bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-5.6.2/sentinl-v5.6.5.zip

3. Expected Results vs. Actual Res

[2018-02-16 21:07] lmangani commented on #308
Hi @mmolinac certain releases actually root to the same codebase whenever compatible across Kibana releases (a nightmare for us) - so this might be one such case here. Is your version actually running? In other version, is the difference purely cosmetic?

Thanks!

[2018-02-17 19:49] gentunian commented on #257
@EricFlis this won't work. Seems that the problem is not with the index you defined but with the `watcher` index. At least, that what the error says:

`Rejecting mapping update to [watcher] as the final mapping would have more than 1 type: [sentinl-script, sentinl-watcher]`

What I understood of that error message is that `watcher` index can't have both: `sentinl-script` and `sentinl-watcher` type

[2018-02-17 19:55] lmangani commented on #300
We're working on smoothing out the edges but the plans for 6.x are bigger than just being compatible. We do not have an ETA yet but happy to form a group of early testers to expedite the work if anyone is willing.

[2018-02-17 20:03] lmangani commented on #274
Getting back on track with these sorry for the gap. This seems specifically related to the old overloading of types as alert types when [saving](https://github.com/sirensolutions/sentinl/blob/6b4661a295fc56706476b3e6a66d1ea63b887a8a/server/lib/log_history.js#L46)

I guess we could simply remove the type entirely - is anyone available to try this out and confirm in a custom build for their 6.x?

[2018-02-17 20:06] lmangani commented on #257
We're working on smoothing out the edges but the plans for 6.x are bigger than just being compatible. We do not have an ETA yet but happy to form a group of early testers to expedite the work if anyone is willing.

This specific blocker is related to the [saved objects](https://github.com/sirensolutions/sentinl/tree/branch-6.0/server/lib/saved_objects) which used to share the same index as types.

[2018-02-17 20:17] ij3net commented on #300
JFYI: I had built sentinl for latest kibana 6.2.1 and elastic 6.2.1 and using it as beta in our project. It's working fine :) of course I'm using only basic functionality watchers and email actions. Next planned step using anomaly detection based on alarms. BTW documentation needs many and many corrections and details.

[2018-02-17 20:32] lmangani commented on #300
@ij3net open-source power to the rescue, please submit documentation corrections, suggestions and improvements so we can keep growing faster and stronger ;)

[2018-02-18 21:56] EricFlis commented on #257
Hi Lorenzo,

Removing the index name as I showed did make it work, not sure how or why but I was then able to generate alerts which included the payload.

Where we are having the issue now is trying to send that alert via webhook. It does not include the payload as it does for on-screen alerts in KiIbana.

[2018-02-18 22:05] lmangani commented on #257
@EricFlis could you send a PR with your changes? I'm not sure I understand what you did, but it might help compare to what we're preparing. As of your other question, could you please open a separate issue to avoid confusion?

[2018-02-19 09:48] mmolinac commented on #308
Hi @lmangani ,
Yes, my version is running and yes, the difference is purely cosmetic.
I was trying to automate the installation with Ansible, and the recipe found that the version reported wasn't the version asked during the installation, so that was the problem.
Now that I know the problems you're dealing with, I'll install 5.6.4 and I'll stick to that until we're able to upgrade.
Thanks for the

[2018-02-19 09:50] #308 closed

[2018-02-20 16:33] aviranco opened #309 "Invalid schedule for .recur().every(360).second()"
every X that is higher than 60 produces an invalid schedule.

For example: later.parse.recur().every(360).second()

Produces:
{
    "schedules": [
        {
            "s": [
                0
            ]
        }
    ],
    "exceptions": []
}

which is every 1 minute instead of every 5 minutes.

[2018-02-20 16:34] #309 closed

[2018-02-20 16:39] lmangani commented on #309
Hi @aviranco as you might as discovered, laterjs is a little stricter than we'd all like when exceeding a type's max....

[2018-02-20 21:10] ij3net commented on #257
@lmangani I had trying change it to be compatible with elastic 6.2.1 and get it working with save payload from multiple watcher.
[My changes](https://github.com/ij3net/sentinl/commit/0037120a78b933925c4f4db7e2a3b4867fcf9b06)
I will be very grateful if you tell me if I'm on the right way.

[2018-02-20 21:30] gentunian commented on #257
Maybe setting the same type in `es` settings make it work? did try, I can't try now:

[code]

[2018-02-20 21:40] lmangani commented on #257
@ij3net sure on the right path but I would avoid hardcoding any values - its best to attach to a SENTINL variable so this can be controlled.- This said, using different indices rather than shared indices with different types is ultimately the viable solution. As of @gentunian suggestion setting all types to the same might get rid of current errors, but would have side effects so I'm still for the

[2018-02-20 21:53] ij3net commented on #257
@lmangani  @gentunian sorry I'm newbie in nodejs :) and I understand that hardcode is not correct way. But as I understand in elastic 6.x on the way to remove `type` entity at all. Default temporary value of type for any indices is '_doc'.  So look like right way do not using type at all. Unfortunately as example
`  client.index({
    index: indexName,
    //type: '_doc',
    body: indexBody
`
not

[2018-02-20 22:12] lmangani commented on #257
@ij3net you're doing great! I think this might have to do with using the `latest` version of the elasticsearch client which is not necessarily backwards compatible - also it seems you are still passing a commented item to the query above - try just killing it for a spin and make sure each "unique type" now corresponds to a unique index - or you will have collisions.

[2018-02-21 07:56] ij3net commented on #300
@panuinth you are sure sentinl still not ready to 6.2. But I'm working on it :)
https://github.com/ij3net/sentinl/commit/0037120a78b933925c4f4db7e2a3b4867fcf9b06
And here issue related exactly to `Rejecting mapping update to [watcher] as the final mapping would have more than 1 type` error https://github.com/sirensolutions/sentinl/issues/257

[2018-02-21 14:17] ebuildy commented on #300
I am too (see https://github.com/sirensolutions/sentinl/compare/branch-6.0...ebuildy:branch-6.0?expand=1).

Also, Kibana is moving to React components via their UI framework https://elastic.github.io/eui/, this could reduce lot of code!

[2018-02-21 14:57] lmangani commented on #300
Fantastic! Thank you @ebuildy and @ij3net for getting your hands dirty - SENTINL does need more contributors to bloom and keep its momentum up! The plan for `6.x` is to drop a lot of the UI code currently used, and migrate to the native components in now offers, possibly going entirely API headless. Please do feel free to open PRs with your ongoing work and we'll be happy to cooperate/advise to re

[2018-02-21 15:10] ebuildy commented on #300
I am browsing your code source, and it's an amazing project!

The code is really clean so it's a pleasure to work with, I can spend some days on it since we plan to use it at Qwant.com.

[2018-02-21 16:25] varun0002 opened #311 "Searchguard support in Report for 5.4.1"
Is there any possibilities to support following configuration (highlighted) in 5.4.1 or can we have some manual steps to enable such support?

report:
active: true
tmp_path: /tmp/
**search_guard: true
simple_authentication: false**

[2018-02-21 16:27] lmangani commented on #311
I believe this might require backporting a few bits from later versions. Perhaps @sergibondarenko knows

[2018-02-21 17:36] #270 closed

[2018-02-21 20:06] ebuildy commented on #300
For instance, using the uid Modal, about page could give:

![](http://b3.ms/NPpnQGvV9EZg)

(branch https://github.com/sirensolutions/sentinl/compare/branch-6.0...ebuildy:refactor/about?expand=1)

[2018-02-22 09:41] ebuildy opened #313 "Grunt dependency?"
1. Issue Description

Running test ``gulp test`` gives the error: ``Fatal error: Unable to find local grunt.``

2. Reproducing the Issue step-by-step

After install, run ``gulp test``

3. Expected Results vs. Actual Results

This should run test

4. Additional Details

[2018-02-22 19:08] varun0002 commented on #311
@sergibondarenko Since this was bit important for us. I went ahead and made following changes in my test environment to enable this in 5.4.1. It appears to be working fine so far. However, I would like to review my changes with you before moving them to next environment. Could you please review them once and let me know if this breaks something else or it's fine to move ahead?

Changes:
_replaced

[2018-02-23 05:12] Sylvain-69 commented on #300
Hey !
I can't contribute to this project since I'm not a developper...
But I'm willing to test it and report bugs.
I'm currently running elk v6.1.1

[2018-02-23 06:28] varun0002 commented on #311
@lmangani: Could you please assign this to @sergibondarenko

[2018-02-23 07:49] ij3net commented on #300
@Sylvain-69 you can try
`bin/kibana-plugin install https://github.com/ij3net/sentinl/releases/download/6.1.1/sentinl-6.1.1.zip`
It's my testing build with fixes for elastic and kibana 6.x
Please note it's very very alpha but it's working for me with kibana 6.2.1

[2018-02-23 09:30] lmangani commented on #311
@varun0002 we can't review your changes unless a PR is submitted

[2018-02-23 13:19] #266 closed

[2018-02-23 13:30] sergibondarenko commented on #313
@ebuildy this should work:
1. `cd sentinl`
2. `npm install`
3. `gulp testbrowser --kibanahomepath=path/to/kibana`
4. `gulp testserver --kibanahomepath=path/to/kibana`

Please reopen the issue if it doesn't work.

[2018-02-23 13:30] #313 closed

[2018-02-23 13:42] ebuildy commented on #313
Ho I see, it's using Kibana grunt. Thanks you.

[2018-02-23 13:48] sergibondarenko commented on #297
@neelrana `anomaly` feature works only with numbers. Array `normal_values` should contain numbers. You can read the documentation [here](http://sentinl.readthedocs.io/en/docs/HOWTO-Anomaly-Detection/).

You can filter using normal Elasticsearch [bool query](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/query-dsl-bool-query.html) syntax, for example:
[code]

[2018-02-23 13:48] #297 closed

[2018-02-23 13:52] sergibondarenko commented on #299
@matteobaire what are your Kibana and Elasticsearch versions?

[2018-02-23 13:58] lmangani commented on #299
@matteobaire you can delete the watcher from the ES API using curl XDELETE at `${kibana_url}/api/sentinl/alarm/${index}/${type}/${id}` or just drop the SENTINL indices entirely if this was just a test and you have no critical Alerts ongoing, on restart SENTINL will re-create them from scratch.

[2018-02-23 14:04] sergibondarenko commented on #278
@jerpic `transform` is done to replace the original request result. To solve the problem you can create the second watcher to monitor alarms stored by the first watcher. When the second watcher sees the alarm, it retrieves the number of bookings (OK & KO) over the last 60 minutes.

[2018-02-23 14:04] #278 closed

[2018-02-23 14:16] sergibondarenko commented on #293
@mxj4 yes, it is not compatible with all current releases. It will be fixed in the next release.

Only the following installation methods work:

1.
[code]
2.
[code]
3.
[code]

[Readme](https://github.com/sirensolutions/sentinl#app-installation)

[2018-02-23 14:16] #293 closed

[2018-02-23 14:19] sergibondarenko commented on #271
@umeshvasam what are your Kibana and Elasticsearch versions?

[2018-02-23 14:23] sergibondarenko commented on #268
@bopagama in order to help you I need a sample of your data.

[2018-02-23 14:38] ebuildy commented on #300
@ij3net not sure you need to zip ``node_modules`` dir as well, I tried with Kibana builder and the final zip is only 6Mo (https://github.com/ebuildy/sentinl/releases/tag/tag-6.0.0)

[2018-02-23 15:03] matteobaire commented on #299
@sergibondarenko
I'm using version 5.6.6 for both Kibana and Elasticsearch

@lmangani
Ok, thank you. I think I've solved.

[2018-02-23 15:03] #299 closed

[2018-02-23 22:45] sethyes opened #315 "Keepalive Alerting: 'Sentinl Watchers: No results for current condition'"
1. Sentinl and Kibana version
v5.6.4

2. Issue description
Trying to create a keepalive for my alerting pipeline. Thereby if no keepalive comes through I get an alert after an hour. It appears Sentinl can't alert on a *lack of data*

3. Reproducing the issue step-by-step
Create a watcher and modify the Condition to:
[code]

4. Expected results vs. actual results
Expected:
I'd expect a watcher to e

[2018-02-24 00:34] lmangani commented on #315
@sethyes gave this a quick try with condition `payload.hits.total == 0` and it seems to work as expected, could you give it a shot?
[code]

[2018-02-24 02:05] huyansheng3 opened #316 "how can i set custom email port?"
[code]

[code]
email.js contructor only handle some args for  emailjs.server.connect, but dont exist port or any other options. Is better  provider other options for user ?

maybe can write as blew.

[code]

[2018-02-26 20:06] dm-vc opened #317 "Idea: Adding query URL to Slack payload"
Hi,

Is it possible (I couldn't find a way at least) to have the URL to the watcher query included within the alerts?

Example: Watcher fires, Slack message gets sent, and in the Slack message is a URL to the query that the notification was generated from.

Thanks!

[2018-02-26 21:25] sethyes commented on #315
That works like a charm. Thanks Lorenzo!

[2018-02-26 21:25] #315 closed

[2018-02-27 11:13] ebuildy opened #318 "Refactor phantomJS code?"
1. Sentinl and Kibana version

Latest version 6.x

2. Issue description

PhantomJS binaries are packaged inside the build, this makes the zip file size = 100Mo! Hard to release.

Also, the project https://github.com/johntitus/node-horseman is no longer supported.

I am wondering if this part of Sentinl will be refactored?

[2018-02-27 14:40] lmangani commented on #318
Hi @ebuildy thanks for the feedback. Where would you need to release other than our provided builds
This is/was pretty much the same way the "other" watcher package is distributed to support multiple platforms with no user installation and help the lower-end. You can most definitely build a "naked" SENTINL and as long as PhantomJS is on the system it should work fine.

The plan is to switch from P

[2018-02-28 17:00] yabir commented on #300
@ebuildy , I think the correct @ij3net way for Kibana 6.2.1 is :

Here the @ij3net sentinl releases : https://github.com/ij3net/sentinl/releases

By the way, thank you all for your incredible cooperation. I hope to have some day that level to also add my grain of sand :D

[2018-03-01 03:28] ahrtr opened #319 "Can you please release new versions?"
You know, 6.1.3 and 6.2.2 of elasticsearch & kibana have already been released, so when can you release related sentinl plugins?

[2018-03-01 06:50] ahrtr opened #320 "Can the value of "sentinl.settings.email.password" be encrypted"
You know, a user/password needs to be configured for the email action. I don't think it's good to put the plain text into kibana.yaml, is it possible to encrypt the password?

[2018-03-01 07:27] fbaligand commented on #320
As every setting in kibana.yml, you can use kibana keystore to encrypt particular settings.
It is a new feature in kibana 6.1

[2018-03-01 09:13] ahrtr commented on #320
Thanks for the feedback.  The reason why I choose sentinl is that I want to discard X-Pack, but my understanding is that all security related features including the keystore tool are provided by the X-Pack extension. So I have to find some other solution to fix this.  Any suggestions?

Since sentinal 6.x haven't been released yet, so I have to deploy sentinl 5.6.5 with ES/Kibana 5.6.5 for now.  I

[2018-03-01 09:25] lmangani commented on #320
Short answer: yes, eventually it will but this is not our primary agenda. If you take time to look you'll see there are already test versions for 6.x from users, and @sergibondarenko from our team is also drafting a 6.2 release ready to latch all new features - but remember this is Open-Source, you'll have to get your hands dirty ;)

[2018-03-01 09:25] #320 closed

[2018-03-01 09:48] fbaligand commented on #320
The kibana keystore is a free and open source feature. It is included in kibana core, not in x-pack.

[2018-03-01 09:55] lmangani commented on #320
@fbaligand maybe we can add a wiki entry with the basics if you do have an decent example I can use?

[2018-03-01 10:09] fbaligand commented on #320
Well, I have nothing more to explain than official kibana doc on keystore feature :
https://www.elastic.co/guide/en/kibana/current/secure-settings.html

[2018-03-01 10:14] fbaligand commented on #320
So the command should be :
bin/kibana-keystore create
bin/kibana-keystore add sentinl.settings.email.password

[2018-03-01 10:41] lmangani commented on #320
Spot on, thanks @fbaligand - I will add this to the FAQ

[2018-03-01 11:27] fbaligand commented on #320
You’re welcome :)

[2018-03-01 12:00] ahrtr commented on #320
@fbaligand @lmangani , thanks.

I just confirmed that the kibana-keystore is included in the kibana-oss 6.1.3 and 6.2.2.

[2018-03-01 12:06] lmangani commented on #319
SENTINL development is based on best effort and contributions. 6.x versions are being worked on as you can see in other threads and branches. Feel free to join in testing anytime! Thanks.

[2018-03-01 12:06] #319 closed

[2018-03-01 12:42] lmangani commented on #317
Hi @dm-vc do you mean dynamically, or statically as part of the Alert? I believe you can already inject pretty much anything you want into the body of the Slack notification. Would you have a "virtual" example in terms of how you would use this?

Thanks!

[2018-03-01 15:17] dm-vc commented on #317
Hi @lmangani, I meant dynamically. I'm not sure how to add this to the Slack alert, as I'm assuming it would be something like {{payload.url}}.

If I had a watcher set up to look for failed logins, the Slack notification might look something like:

`@channel: Alert! X login failed within the last Y minutes: https://url-to-elk-query`

Where the `https://url-to-elk-query` would contain all of the fa

[2018-03-02 12:09] varun0002 opened #321 "Multiple email in HA"
1. Sentinl and Kibana version: 5.4.1

2. Issue description: Getting multiple emails for scheduled alarms in HA environment.

3. Reproducing the issue step-by-step: Run Kibana in HA (more than 1 Kibana)

4. Expected results vs. actual results: Should send only one mail per alarm/schedule.

5. Additional details
We are running Kibana in HA i.e. more than 2 active Kibana (with ESmaster). Every schedu

[2018-03-02 12:21] lmangani commented on #321
Hi @varun0002 HA is currently only available in Siren Alert, the Siren version of SENTINL part of their Siren 10 Stack. I'm not familiar with ESmaster, feel free to share additional details or send a PR/Feature request.

[2018-03-02 12:30] varun0002 commented on #321
@lmangani: Thanks for quick response. I was referring ESmaster as ElasticSearch master. Can you please provide me any reference link for Siren Alert?
Are there any config changes we can make in Sentinl so user would get only single mail for each scheduled alarm when Kibana is running in HA?

[2018-03-02 15:32] #257 closed

[2018-03-02 15:32] #300 closed

[2018-03-02 16:26] lmangani commented on #317
Well, this is not straightforward unless I'm missing the point. SENTINL doesn't really know much about dashboards where the same data might be displayed, it operates using its own queries (which might be the same as widgets, but not really) - If SENTINL did have access to a URL paramters, it could easily generate a rison URL with adjusted time settings of course. So the point is all about where sh

[2018-03-02 17:09] yabir opened #324 ""No valid url specified" when installing 6.2.1 package"
**Kibana version** : 6.2.1

**Issue description**

When i try to install the Sentinl Kibana plugin , it returns this message:

**Reproducing the issue step-by-step**

following your README installation step:
[code]
this is the log it returns with the error at the end:

Attempting to transfer from https://artifacts.elastic.co/downloads/kibana-plugins/https://github.com/sirensolutions/sentinl/releas

[2018-03-02 17:12] lmangani commented on #324
Hi @yabir - does it make a difference if you download the archive and install it locally?

[2018-03-02 17:13] fbaligand commented on #324
It seems that your link is wrong. Here’s the right link :
https://github.com/sirensolutions/sentinl/releases/download/tag-6.2.2/sentinl-v6.2.1.zip

[2018-03-02 17:15] lmangani commented on #324
The link in the readme seems fine... @yabir where did you take that from? I'll correct the example.

[2018-03-02 17:15] #324 closed

[2018-03-02 17:17] lmangani commented on #321
@varun0002 will check ESmaster and provide some feedback.

Siren Alert is only bundled with The Siren 10 Stack at this time, as it relies on advanced features unavailable in stock Kibana and Elasticsearch.

[2018-03-02 20:45] ebuildy opened #325 ""Editor: notify.info is not a function""
1. Sentinl and Kibana version

6.2.2

2. Issue description

It seem Kibana notify object does not support the level "info" any more:

![](https://beemapp2.s3.amazonaws.com/a48a532f-a005-4e5f-ae48-a1b060ca9894.jpg)

3. Reproducing the issue step-by-step

Saving a watcher

4. Expected results vs. actual results

Notification should appear instead of this error.

5. Sample of data

6. Additional deta

[2018-03-02 21:26] lmangani commented on #325
Thanks @ebuildy for catching this - we'll get it fixed right next

[2018-03-02 21:28] lmangani commented on #14
Closing this in favor of future discussion on recent versions.

[2018-03-02 21:28] #14 closed

[2018-03-02 21:35] lmangani commented on #52
Moving to 6.x please reopen if this is still useful / required. Thanks!

[2018-03-02 21:35] #52 closed

[2018-03-02 21:37] lmangani commented on #303
Latest versions will display the "next" scheduled time to confirm the Later.JS expected results. Let us know if this is still causing issues and thanks for your report!

[2018-03-02 21:37] #303 closed

[2018-03-02 21:37] lmangani commented on #274
Moving to 6.x and cleaning up issues. Please reopen if this is still useful / required. Thanks!

[2018-03-02 21:37] #274 closed

[2018-03-02 21:38] lmangani commented on #271
Moving to 6.x and cleaning up issues. Please reopen if this is still useful / required. Thanks!

[2018-03-02 21:38] #271 closed

[2018-03-02 21:38] lmangani commented on #144
Moving to 6.x and cleaning up issues. Please reopen if this is still useful / required. Thanks!

[2018-03-02 21:38] #144 closed

[2018-03-02 21:39] lmangani commented on #191
Moving to 6.x and cleaning up issues. Please reopen if this is still useful / required. Thanks!

[2018-03-02 21:39] #191 closed

[2018-03-02 21:39] lmangani commented on #254
This issue should be addressed in recent releases. Moving to 6.x and cleaning up issues. Please reopen if this is still useful / required. Thanks!

[2018-03-02 21:39] #254 closed

[2018-03-02 21:42] lmangani commented on #280
Moving to 6.x and cleaning up issues. Please reopen if this is still useful / required. Thanks!

[2018-03-02 21:42] #280 closed

[2018-03-05 08:19] varun0002 commented on #321
@lmangani We may not need anything from ESmaster side. I just kept that for more details.
The core problem, we are getting multiple emails for scheduled alarms when Kibana is running as HA.

Please let me know if I would need to open new issue for HA support or we can consider this as feature request?

[2018-03-05 10:33] sergibondarenko commented on #325
Hi @ebuildy.
Did you get Sentinl from [the latest release](https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.2) that was published on March 2? I can't reproduce the issue. Let me know.

[2018-03-05 10:39] fbaligand commented on #324
Yes, only the last one must be changed.
The tag name is ambiguous.
@lmangani, ideally, the tag name should reference a sentinl version, rather than a kibana version. What you think ?

[2018-03-05 10:42] lmangani commented on #324
Good point, although the tag reveals the "actual codebase" shared by those releases, this has no value to regular users installing.

Maybe we can generalize it, ie tag:`6` and releases ` 6.x.x` under it @sergibondarenko

[2018-03-05 10:51] fbaligand commented on #324
There are different ways to do, each with its pros/cons.

Personally, I make a tag per plugin version, where I publish the different packages for the different Kibana versions :
https://github.com/fbaligand/kibana-enhanced-table/releases

[2018-03-05 11:25] ebuildy commented on #325
You are right, I was testing against Kibana 6.2.3 (they are moving so fast :/)

Thanks you,

[2018-03-05 11:25] #325 closed

[2018-03-05 11:51] agarwalshivam456 opened #326 "Post installation Not showing anything"
Issue description

Post installed sentinl ,It showing no watcher.
Please find screenshot.
![kibana](https://user-images.githubusercontent.com/22490622/36973506-4bd82342-2099-11e8-8890-5d84226b6e75.png)

Step to performed install sentinl:
1. root@elasticsearch /usr/share/kibana/plugins # ./kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-6.2.2/sentinl-v6.2.1.zip

[2018-03-05 12:42] lmangani commented on #326
@agarwalshivam456 by default there will be exactly no watchers but I see the issue here seems all replacements are missing, including dates and parameters. Could you check your Kibana logs for errors?

[2018-03-05 12:49] agarwalshivam456 commented on #326
Resolved.
I was installing snapshot plugin.

Post installation of Gulp plugin ,It's working normally.

However I found that installation guide is not mentioned properly. Please mention proper steps to install it.

[2018-03-05 22:25] Amorik commented on #326
@agarwalshivam456  did you do anything specific? I've attempted to install following the gulp directions but am having the same result.

[2018-03-06 05:12] agarwalshivam456 commented on #326
**Install Sentinl:**

1. git clone https://github.com/sirensolutions/sentinl
2. cd sentinl
3. Install NPM
curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -
apt-get install nodejs
4. Install below dependencies:
npm install -g gulp
npm link gulp
npm install -g lodash --save
npm link lodash
npm install -g mkdirp --save
npm link mkdirp
npm install -g rsync --save
npm link rsync
npm instal

[2018-03-06 07:36] agarwalshivam456 commented on #326
@lmangani Do i have to install any other plugin apart from sentinl to configure threshold based alert.
Or we can create same from sentinl ?

[2018-03-06 09:02] lmangani commented on #326
@agarwalshivam456 is there are a reason you are not using our ready packages? I would strongly suggest so - SENTINL does not have other requirements, its self standing when properly compiled.

[2018-03-06 09:02] #326 closed

[2018-03-06 09:14] agarwalshivam456 commented on #326
@lmangani what do you mean by ready packages?
You can see my steps to install sentinl in above comment. Am i missing something there?
As i don't find option to create threshold base alert in sentinl.

[2018-03-06 09:18] lmangani commented on #326
The default example and template is for a treshold alert. You need to know what you're doing and check out the available documentation, mixing an installation and configuration issue is not going to help either. please start here: http://sentinl.readthedocs.io/en/latest/Watcher-Examples/

Presentation of generics: https://www.slideshare.net/secret/gobTp9S3omqn9a

[2018-03-06 11:15] varun0002 commented on #277
@neelrana: Here is what you should do:
**Transform:**
{
  "script": {
    "script": "payload.hits.my_time=[];for(var i=0;i<payload.hits.hits.length;i++)payload.hits.my_time.push({name1:payload.hits.hits[i]._source['@timestamp']});"
  }
}
**Action Email Html**:
{{#payload.hits.my_time}}<li>{{name1}}</li>{{/payload.hits.my_time}}

[2018-03-06 14:53] ds2000 commented on #277
Hi guys,
Does this work with Kibana 4?  It's new to us as well and understanding how to view / query the payload into usable variables is driving us crazy :)

[2018-03-06 14:54] lmangani commented on #277
@ds2000 did you familiarize with the `mustache` language? What's driving you crazy? :)

[2018-03-06 14:58] ds2000 commented on #277
We're trying too, I should add we're using eAlerts (we have an EL6 stack in the works so are trying to make a square peg fit a round hole)

The short story is a few of us are new on site and new to the product, we're trying to view how the payload gets constructed and the fields of the array.  Our alerters send a mail but we want to give the end user more information like the hostname, envcode, ap

[2018-03-06 15:13] lmangani commented on #277
You can cherry-pick any value form the payload into the alert body.  Check [this](https://mustache.github.io/#demo) out and it should become obvious.

[code]
[code]
[code]

[2018-03-06 15:14] ds2000 commented on #277
Thanks for your help, it's a steep curve.  I'll have a read and try not to poke this thread again ;)

[2018-03-06 15:20] lmangani commented on #277
The logic is simple, if you know the name/path to an object property, you can use it. Feel free to ask for help here on in a dedicated ticket if you get stuck with something specific.

[2018-03-07 05:45] agarwalshivam456 commented on #326
@lmangani Can you please help me out here. I am getting below error after created a watcher.
#######################################################
Error: fail to get watcher 7d806e96-4a3d-4be3-8a35-a0655484bab6
    at Watcher.<anonymous> (http://kibana.nlpcaptcha.in/bundles/sentinl.bundle.js?v=16573:1:268707)
    at tryCatch (http://kibana.nlpcaptcha.in/bundles/vendors.bundle.js?v=16573:70:99706

[2018-03-07 07:11] agarwalshivam456 commented on #304
@lmangani Can you please help me here as i'm also getting 406 error in kibana.stdout.

{"type":"response","@timestamp":"2018-03-07T07:09:55Z","tags":[],"pid":22785,"method":"post","statusCode":406,"req":{"url":"/api/sentinl/watcher/_execute","method":"post","headers":{"connection":"upgrade","host":"kibana.nlpcaptcha.in","content-length":"1288","accept":"application/json, text/plain, */*","origin":

[2018-03-07 12:02] yabir opened #327 "Error executing command to extract phantom ports"
**1. Sentinl and Kibana version**

Kibana: 6.2.1 (Official docker container, OS: CentOS)
Sentinl release: 6.2.1

**2. Issue description**

The watchers and the actions are working correctly, but i'm getting this error using a report action:

from kibana log:

I have phantomjs installed , version 2.1.1. For the installation I followed the Sentinl Wiki command:

Here is my sentinl configuration:

[c

[2018-03-07 12:43] lmangani commented on #327
Hi @yabir could you confirm if the `ss` command is available on the system?

[2018-03-07 13:07] yabir commented on #327
Thanks for the quick reply @lmangani . Effectively, the ss command was not installed. I proceeded to install it and **its working!** thank you!

Here the command i used to install iproute which includes the ss command :

[2018-03-07 13:07] #327 closed

[2018-03-07 13:08] lmangani commented on #327
Thanks @yabir - this seems a shortcoming of the underlying methods but we plan moving away from it soon. This is useful, I'll add it to the wiki and hope you'll enjoy SENTINL

[2018-03-07 13:24] lmangani commented on #316
@huyansheng3 thanks I think this is a good idea and approach, feel free to send a PR if you had a chance to test this patch

[2018-03-07 13:32] yabir commented on #327
I'm really enjoying SENTINL, you guys are doing a great job.

[2018-03-08 05:04] Sjaak01 opened #330 "SentiNL not working on 6.2.1, documentation incorrect and lacking"
Hi,

I just installed SentiNL but its not working as its supposed to. I don't see a button or anything to start adding watches.

![image](https://user-images.githubusercontent.com/28028599/37133740-7cfb3a72-22d8-11e8-92c5-045ca261b5c4.png)

Also the documentation is incorrect.

- The path on the code page is incorrect.
- The docs page mentions the "main kibana yaml" file but doesn't bother giving

[2018-03-08 09:08] sergibondarenko commented on #330
@Sjaak01 what do you see in the Kibana console? Do you see any error in your browser dev tools console?

[2018-03-08 09:26] sergibondarenko commented on #330
@Sjaak01 I've just recorded a video about how to install Senitnl on Kibana 6.2.1 https://youtu.be/9UkuC6xzhxA

[2018-03-08 09:29] sergibondarenko commented on #330
@Sjaak01 install it like it is done in the video. Please reopen the issue if you can't install and attach logs.

[2018-03-08 09:29] #330 closed

[2018-03-08 11:06] sergibondarenko opened #331 "Update auth part of the docs"

[2018-03-08 11:07] #331 closed

[2018-03-08 12:12] neelrana opened #333 "Method to export and import watchers?"
Hello, I was wondering whether there is a way to export watchers created in one environment to another?

I have two different ELK stack environments running and I have set up watchers that trigger alerts on one of the environment but I was wondering whether there is a way to copy over those watchers onto a different environment?

For example, I know that there is a way to export saved objects or i

[2018-03-08 12:31] lmangani commented on #333
Hi @neelrana SENTINL is saving everything to Elasticsearch, so its just a matter or copying data indices (corresponding to the configureg `default_index` parameter) between your stacks - you can do this with any tool generic or specific, nothing fancy needed - once watchers are copied, SENTINL should pick them up within seconds.

Hope this helps!

[2018-03-08 12:31] #333 closed

[2018-03-08 12:49] neelrana commented on #333
Hi @lmangani , Thanks for the response. So I can just import the watcher index into the new environment? Do you know what the default index for the watchers is? is it '_watcher_alarms_' ?

[2018-03-08 12:51] lmangani commented on #333
Yes, unless you changed it from the sentinl yaml config, that's where everything is set - It's easy to confirm so by exploring the index, the documents should look familiar.

[2018-03-08 13:06] Aman-Jain-1994 opened #334 "Sentinl Watcher not working."
I am quite new to using Sentinl. Some of the Prerequisites:

Kibana Version: 6.2.2
Elasticsearch Version: 6.2.2
Sentinl Version: 6

As per the sentinl documentation I am currently trying to run the sample example as mentioned here:
http://sentinl.readthedocs.io/en/latest/Tutorial/

Getting the following errors while manually trying to run the watcher:

Watchers: fail to get watcher bf098593-8304-4

[2018-03-08 13:15] lmangani commented on #334
Hi @Aman-Jain-1994 do you have authentication for your Elasticsearch? This sounds like an issue writing the alerts, and consequently retrieving them. Please indicate the steps you followed in detail.

[2018-03-08 13:16] lmangani commented on #334
EDIT: please also append the Kibana logs when trying to save Watchers.

[2018-03-08 13:37] Aman-Jain-1994 commented on #334
No, I don't have any authentication on elasticsearch.

I have installed sentinl as per the documentation mentioned here:
https://github.com/sirensolutions/sentinl
Sentinl was installed via this command:
/usr/share/kibana/bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-6.2.2/sentinl-v6.2.2.zip

Kibana Logs:

{"type":"log","@timestamp":"2018-03-08T13:34:25Z"

[2018-03-08 13:47] sergibondarenko commented on #334
@Aman-Jain-1994 please show us your watcher object. Go to UI and select Raw tab, copy everything and paste here
![screenshot from 2018-03-08 14-46-10](https://user-images.githubusercontent.com/5389745/37154226-92a0629c-22df-11e8-9f24-b0ec1725909f.png)

[2018-03-08 13:55] sergibondarenko commented on #334
@Aman-Jain-1994 Also, please do the following things:

1. Enable debug mode in kibana.yml
[code]
2. Paste here all Kibana log beginning from the start
3. Check if your watcher exists
[code]

[2018-03-08 14:40] Aman-Jain-1994 commented on #334
Watcher Object:
{
  "actions": {
    "Testing": {
      "throttle_period": "0h15m0s",
      "email": {
        "to": "aman.jain@tothenew.com",
        "from": "aman.jain@tothenew.com",
        "subject": "Test- Alarm",
        "priority": "high",
        "body": "Low MOS Detected: payload.aggregations.avg.value"
      }
    }
  },
  "input": {
    "search": {
      "request": {
        "indices":

[2018-03-08 14:44] lmangani commented on #334
@Aman-Jain-1994 please execute all steps suggested by @sergibondarenko

EDIT: when pasting code, please escape it with ` ``` `

[2018-03-08 14:46] Aman-Jain-1994 commented on #334
Sure. I'll keep it in mind.

1. Configured log level to debug
2.  Kibana Logs:
[code]
3. Curl command Output:
[code]

[2018-03-08 15:03] lmangani commented on #334
Let me make a suggestion here - There's no need to produce the data in the example just to confirm things are working, so we can bypass checking if the tutorial was executed and how.

Just go ahead and remove this test watcher, and create a new one using the wizard, leaving everything as-is and just changing the `condition` statement to trigger if more than 1 document is found. This will include w

[2018-03-08 15:16] Aman-Jain-1994 commented on #334
Did the same. I created another watcher with everything same as before but changing the condition statement to > 1.
Getting the same error:
[code]

The New Watcher Object:
[code]

[2018-03-08 16:14] sergibondarenko commented on #334
@Aman-Jain-1994 please show kibana.yml

[2018-03-08 16:28] Aman-Jain-1994 commented on #334
Here it is:
[code]

[2018-03-08 23:58] Sjaak01 commented on #330
I'm still getting the same as in my original screenshot.

[2018-03-09 07:03] agarwalshivam456 commented on #334
@Aman-Jain-1994 try this one:

{
  "actions": {
    "email_admin": {
      "throttle_period": "0h15m0s",
      "email": {
        "to": "your-mail.d",
        "from": "kibana@nlpcaptcha.com",
        "subject": "5XX Error Count 15 Mins",
        "priority": "high",
        "body": "Last 15 Mins 5XX Error count is {{payload.hits.total}}.\n\nopen http://kibana.nlpcaptcha.in/goto/ed0f3918eb6a1cfddfc6

[2018-03-09 08:41] Aman-Jain-1994 commented on #334
@agarwalshivam456  Same error.

[2018-03-09 08:45] Aman-Jain-1994 commented on #334
@sergibondarenko
The watcher is executed automatically  but it is not able run.
[code]

[2018-03-09 08:53] agarwalshivam456 commented on #334
@Aman-Jain-1994 in my case everything is fine except watcher is not triggering automatically.

Did you do anythings else extra to trigger watcher automatically.

[2018-03-09 08:56] Aman-Jain-1994 commented on #334
Nope. Nothing extra. As I said I am new to this and was following the documentation for a sample watcher to work. I haven't installed or configured anything extra.

[2018-03-09 10:09] agarwalshivam456 commented on #334
@Aman-Jain-1994 mine is working fine now .

[2018-03-09 10:25] Aman-Jain-1994 commented on #334
@agarwalshivam456 can you please share your kibana.yml file?
How did you install sentinl?
It seems I need to reinstall it.

[2018-03-09 10:36] agarwalshivam456 commented on #334
Create a default watcher by adding nothing extra in it. If it works then i think you don't have to reinstall the sentinl.

kibana.yml:

# Kibana is served by a back end server. This setting specifies the port to use.
#server.port: 5601

# Specifies the address to which the Kibana server will bind. IP addresses and host names are both valid values.
# The default is 'localhost', which usually means

[2018-03-09 10:38] agarwalshivam456 commented on #334
Install Sentinl:

1. git clone https://github.com/sirensolutions/sentinl
2. cd sentinl

Install NPM
curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -
 apt-get install nodejs
Install below dependencies:
npm install -g gulp

npm link gulp
npm install -g lodash --save

npm link lodash
npm install -g mkdirp --save

npm link mkdirp
npm install -g rsync --save

npm link rsync
npm install -g

[2018-03-09 11:37] Aman-Jain-1994 commented on #334
@agarwalshivam456 facing the same issue. I have reinstalled sentinl as per your steps.

[2018-03-09 12:17] agarwalshivam456 commented on #334
@Aman-Jain-1994 share your kibana.yml file and default watcher

[2018-03-09 13:20] varun0002 opened #336 "Report email triggers even Condition fail"
1. Sentinl and Kibana version 5.4.1

2. Issue description: We have a watcher with 2 actions i.e. email & report. Report action always trigger and sends mail even if "No results for current condition".

3. Reproducing the issue step-by-step: Define watcher with 2 actions i.e. email & Report

4. Expected results vs. actual results: Shouldn't trigger any action if condition is not met.

[2018-03-09 13:29] Aman-Jain-1994 commented on #334
@agarwalshivam456
The default watcher is now working.

[2018-03-09 16:31] nigellh opened #337 "Sentinl not initializing on 6.2.2, 6.1.3"
1. Sentinl and Kibana version
Occurs on both 6.2.2 and 6.1.3, but not in 5.6.4

2. Issue description
![image](https://user-images.githubusercontent.com/12110404/37216449-aece133c-23b2-11e8-822e-bdd198736ee2.png)

I'm a newbie to much of this so this is seen just after bringing up a new system

3. Reproducing the issue step-by-step
Running on Ubuntu 16.04. Creating separate docker instand for each

[2018-03-09 16:53] lmangani commented on #337
Hi @nigellh thanks for the report! Can you spot any `[sentinl]` rows in the Kibana logs?

[2018-03-09 17:08] nigellh commented on #337
Apologies, I've had a quick look and cannot see the logs, there appears to be a comment that logs needs to be turned on for Kibana, trying to look it up, but thought I'd ask here as well. Late in the UK, not sure if I will get to look at it this evening, will try to.

[2018-03-09 17:10] lmangani commented on #337
@nigellh the logs should be alongside the normal kibana ones. I'm also CET based so enjoy your upcoming dinner ;)

[2018-03-09 19:52] nigellh commented on #337
@lmangani That is the problem, I couldn't find the Kibana ones! Currently running it in a Docker Container so just need to figure out where it is dumping them. I'll get back to this on Monday as I'm away this weekend.

[2018-03-10 10:13] lmangani commented on #337
Not sure if this is related somehow, but could you try using the oss images for both `elasticsearch` and `kibana` containers? Just add `-oss` to both image names, ie:
[code]

[2018-03-12 06:39] houhuiteng opened #338 "Can set the condition to payload.hits.total=0 ?"
Can set the condition to payload.hits.total=0 ? How can I configure it

[2018-03-12 07:41] lmangani commented on #338
Hi @houhuiteng sure, SENTINL conditions are just plain javascript:
[code]

[2018-03-12 07:41] #338 closed

[2018-03-12 09:34] sergibondarenko commented on #337
@nigellh here is the docker where Sentinl works https://github.com/sergibondarenko/docker-elk-sentinl
Just start it `docker-compose up` and go localhost:5601 in your browser.  Please check Kibana config in your docker, it should be like this https://github.com/sergibondarenko/docker-elk-sentinl/blob/master/kibana/config/kibana.yml#L9

[2018-03-12 09:36] sergibondarenko commented on #334
@Aman-Jain-1994 @agarwalshivam456  here is the docker where Sentinl works https://github.com/sergibondarenko/docker-elk-sentinl
Just start it `docker-compose up` and go http://localhost:5601 in your browser.  Please check Kibana config in your docker, it should be like this https://github.com/sergibondarenko/docker-elk-sentinl/blob/master/kibana/config/kibana.yml#L9

[2018-03-12 09:45] sergibondarenko commented on #336
Hi @varun0002
You see a message like this, right?
![screenshot from 2018-03-12 10-39-56](https://user-images.githubusercontent.com/5389745/37276388-d73ff1ec-25e1-11e8-98ab-766fef3fbc94.png)
It is not error. It is a warning. That's why the color is yellow.
It means that there is not enough data to satisfy condition `payload.hits.total >= 1111110`. And it is intended behavior.

The watcher is execut

[2018-03-12 09:45] #336 closed

[2018-03-12 10:19] nigellh commented on #337
@sergibondarenko I am running this as separate containers for each of Elasticsearch, Logstash and Kibana not a single container for all three. This allows greater flexibility. What version is the one you are pointing to?

[2018-03-12 10:46] nigellh commented on #337
Hi @lmangani the following are the only log entries mentioning sentinl. (Hadn't realised it was sent to the screen Sheesh!)

    {"type":"log","@timestamp":"2018-03-12T10:23:13Z","tags":["status","plugin:sentinl@6.0.0","info"],"pid":6392,"state":"green","message":"Status changed from uninitialized to green - Ready","prevState":"uninitialized","prevMsg":"uninitialized"}
    {"type":"log","@timestam

[2018-03-12 10:49] sergibondarenko commented on #337
@nigellh the repo I provided uses docker composer and runs Elastcsearch, Kibana, and Logstash in separate containers. You can find the version looking in one of the Docker files, for example Kibana https://github.com/sergibondarenko/docker-elk-sentinl/blob/master/kibana/Dockerfile

[2018-03-12 11:00] nigellh commented on #337
Hi @sergibondarenko my kibana.yml file is pretty empty.

    # Default Kibana configuration from kibana-docker.

    server.name: kibana
    server.host: "0.0.0.0"
    elasticsearch.url: http://elkselasticsearch:9200

Are you suggesting I add

    sentinl:
      settings:
        authentication:
          enabled: false
        email:
          active: true
          host: beast-cave
          ssl

[2018-03-12 11:02] nigellh commented on #337
Actually from the container it reads

    # Default Kibana configuration from kibana-docker.

    server.name: kibana
    server.host: "0"
    elasticsearch.url: http://elasticsearch:9200

What is in the previous comment is in theory from the kibana.yml that is copied into the container when it is buit.

[2018-03-12 12:13] masterofcloud1 commented on #334
Facing the same issue over here.

[2018-03-12 12:58] agarwalshivam456 commented on #334
@Aman-Jain-1994 If default watcher is running ,there must be some problem with your configuration.
share your kibana.yml and the watcher configuration.

[2018-03-12 13:03] masterofcloud1 commented on #334
My watcher definition:

  "actions": {
    "Testing": {
      "throttle_period": "0h0m1s",
      "webhook": {
        "method": "POST",
        "host": "",
        "port": 9200,
        "proxy": false,
        "path": "",
        "body": "Found {{payload.hits.total}} Events"
      }
    }
  },
  "input": {
    "search": {
      "request": {
        "indices": [
          "<mos-{now/d}>",

[2018-03-12 13:11] varun0002 commented on #336
@sergibondarenko: Thanks for your response. The issue over here is that whether the condition is true or false, it trigger report action. Ideally, the report action shouldn't get trigger if condition returns false.

I looked at watcher.js and it appears Sentinl doesn't run condition & transform if action is report. I made fix in my local environment and will raise PR for this.

[2018-03-12 13:22] sergibondarenko commented on #336
@varun0002 ahh, it is a report action, when you do a screenshot, right? A PR is welcomed.

[2018-03-12 13:25] sergibondarenko commented on #334
@masterofcloud1 please provide your Kibana log with verbose mode on. Do you see any error un UI?

[2018-03-12 13:26] sergibondarenko commented on #337
@nigellh please run the docker repo I provided above on your machine. And see if you have any problems with Sentinl there.

[2018-03-12 13:28] sergibondarenko commented on #334
@masterofcloud1 @Aman-Jain-1994 @agarwalshivam456 guys, please run the docker repo I provided above on your machine. And see if you have any problems with Sentinl there.

[2018-03-12 13:53] nigellh commented on #337
Hi @sergibondarenko. Tried.

Created a test directory with a docker-compose.yml file from your repo and a directory and dockerfile from your repo for each ELK component. On starting got:

    ERROR: for test_elasticsearch_1  Cannot start service elasticsearch: OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:402: container init caused \"rootfs_

[2018-03-12 14:11] masterofcloud1 commented on #334
Same issue...

[2018-03-12 14:14] sergibondarenko commented on #337
@nigellh can you start my repo?
Instructions:
1. `git clone https://github.com/sergibondarenko/docker-elk-sentinl.git`
2. `cd docker-elk-sentinl`
3. Stop all running Elasticsearch, Logstash and Kibana instances
4. `sudo docker-compose up`
5. Open a web browser and put the following address into URI http://localhost:5601

[2018-03-12 14:18] sergibondarenko commented on #337
@nigellh you can't just copy the docker-compose.yml file into a new directory and expect that it magically creates all the config for you. It doesn't work like this. Or start my repo. Of fix config issues in the directory when you moved the composer file. The error you provided tells you explicitly that config doesn't exist
[code]

[2018-03-12 14:19] masterofcloud1 commented on #334
Having the same issue with the docker..

[2018-03-12 14:22] sergibondarenko commented on #334
@masterofcloud1 you say that you executed the instructions below and Sentinl still didn't work for you, right?

Instructions:
1. `git clone https://github.com/sergibondarenko/docker-elk-sentinl.git`
2. `cd docker-elk-sentinl`
3. Stop all running Elasticsearch, Logstash and Kibana instances
4. `sudo docker-compose up`
5. Open a web browser and put the following address into URI http://localhost:560

[2018-03-12 14:28] masterofcloud1 commented on #334
No... I've said that the alarm didn't work right. I've copied the same alarm I've used and it didn't work.
Sentinl itself is working. But it seems like I can't use any alarm

[2018-03-12 14:32] nigellh commented on #337
Hi @sergibondarenko, I did say I am pretty new to all this. I'm learning all this the hard way, trial and error and don't tend to ask questions until I've pretty much exhausted other avenues, including the few colleagues that have some experience of this.

I do not have Git installed so cloning it is not an option. So I have downloaded the zip and unpacked it and running docker-compose from the pa

[2018-03-12 14:35] sergibondarenko commented on #334
@masterofcloud1 you can create watchers in Sentinl, Watchers tab. A watcher can create alarms, Alarms tab. So, what exactly did you copy?
I think watcher. Can you create a new watcher and execute it? Do not copy the old watcher.

[2018-03-12 14:40] masterofcloud1 commented on #334
Well I can do that... but I'm still trying to get hold of Sentinl. Can you look on the watcher I've provided and tell me if there any problem?

[2018-03-12 14:46] sergibondarenko commented on #337
@nigellh can you share your docker with me?

[2018-03-12 14:52] sergibondarenko commented on #334
@Aman-Jain-1994 the same is for you too. You are using the old deprecated syntax, filtered query. Use bool query instead. Fix the query. Please reopen the issue if you still have the problem.

[2018-03-12 14:53] lmangani commented on #334
@sergibondarenko removed the old document causing confusion from wiki

[2018-03-12 14:53] sergibondarenko commented on #337
Plus the composer file.

[2018-03-12 15:40] sergibondarenko commented on #337
@nigellh what web browser do you use? Please try the latest Chrome.

[2018-03-12 15:44] nigellh commented on #337
@sergibondarenko You will be please to hear that on Chrome on Windows it works, just not on Firefox on Windows or Ubuntu.

[2018-03-12 15:50] nigellh commented on #337
It is fine on Chromium as well. So it appears that it is a Firefox issue.

At least you have something specific to look into.

[2018-03-12 15:54] nigellh commented on #337
@sergibondarenko From Firefox which you don't get from Chrome

TypeError: Watcher.list(...).then(...).catch(...).finally is not a function
Stack trace:
listWatchers@http://localhost:5601/bundles/sentinl.bundle.js?v=16588:1:220976
WatchersController@http://localhost:5601/bundles/sentinl.bundle.js?v=16588:1:221134
instantiate@http://localhost:5601/bundles/vendors.bundle.js?v=16588:58:33393
$Controll

[2018-03-12 15:56] nigellh commented on #337
Hi, no-one did answer my question on what the -oss versions of ELK are?

[2018-03-12 16:05] sergibondarenko commented on #337
@nigellh yes, it is an issue with Firefox. I'll push the fix today and let you know about it.
In my docker repo I use the following ELK pkgs:
[code]
You can see them in the docker files of the repo.

[2018-03-12 16:21] nigellh commented on #337
@sergibondarenko Thanks, but what is the difference between

docker.elastic.co/kibana/kibana-oss:6.2.2
docker.elastic.co/logstash/logstash-oss:6.2.2
docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.2

and

docker.elastic.co/kibana/kibana:6.2.2
docker.elastic.co/logstash/logstash:6.2.2
docker.elastic.co/elasticsearch/elasticsearch:6.2.2

What does the -oss give you in the image you are using?

[2018-03-12 16:29] lmangani commented on #337
Hi @nigellh the `-oss` versions supposedly only contain open-source components, while the default images do contain `x-pack` and other commercial extensions which might expire or what not.

[2018-03-13 06:17] guanghaofan commented on #337
I just install the official released version 6.0.0 and i have the same situation, nothing show in the panel(UTC time is {{ utcTime }}

Local time is {{ currentTime }}
)
But it just worked in the pre-release 6.0.X version.

[2018-03-13 06:54] guanghaofan commented on #337
Add the kibana log file.
[kibana_6.0.0.log](https://github.com/sirensolutions/sentinl/files/1805769/kibana_6.0.0.log)

[2018-03-13 08:32] lmangani commented on #337
This is a known issue we're working on a new release to address it - thanks!

[2018-03-13 09:05] sergibondarenko commented on #337
@nigellh you can read about OSS packages and docker here on the Elastic web site https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_image_types

[2018-03-13 09:48] nigellh commented on #337
@sergibondarenko Thanks, I appreciate your help. This is the first time I have done anything with Docker, Docker Compose, Sentinl, ELK and several other things and it has been an interesting learning curve. The hardest thing to get past have been either the undocumented 'features' (No '_' character in a Docker Image Name. Worked for the Kibana image, but not the Logstash image which made it harder

[2018-03-13 11:08] #337 closed

[2018-03-13 11:09] sergibondarenko commented on #337
@nigellh thanks for helping to discover this bug!

[2018-03-13 11:16] Ekouyoja commented on #337
I have the same bug when I install sentinl, I just need to wait the next release ?

[2018-03-13 11:19] nigellh commented on #337
@sergibondarenko Your welcome, is the fix ready to pick up?

[2018-03-13 11:24] sergibondarenko commented on #337
@nigellh @Ekouyoja pick your .zip package under this release https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.2. They were all updated with this new fix.

[2018-03-13 11:30] masterofcloud1 commented on #334
{
  "actions": {
    "Testing": {
      "throttle_period": "0h0m1s",
      "webhook": {
        "method": "POST",
        "host": "",
        "port": 9200,
        "proxy": false,
        "path": "",
        "body": "Found {{payload.hits.total}} Events"
      }
    }
  },
  "input": {
    "search": {
      "request": {
        "indices": [
          "<mos-{now/d}>",
          "<mos-{now/d-1d}>"

[2018-03-13 11:35] Ekouyoja commented on #337
@sergibondarenko Perfect, it works for me. Thanks for your work.

[2018-03-13 12:11] br14nb0 opened #340 "Error when executing alert"
I use Watcher in Sentinl plugin to execute alerts but I get error
**Error: fail to get watcher a12c0934-093c-48b8-ac56-8a27304f57c8
    at Watcher.<anonymous> (http://localhost:5601/bundles/sentinl.bundle.js?v=16562:1:278103)
    at tryCatch (http://localhost:5601/bundles/vendors.bundle.js?v=16562:128:99780)
    at Generator._invoke (http://localhost:5601/bundles/vendors.bundle.js?v=16562:128:1018

[2018-03-13 12:29] lmangani commented on #340
Hi @br14nb0 please specify the version you are using and the watcher you are trying to run

[2018-03-13 12:47] masterofcloud1 opened #341 "Failed to get watcher"
We are using ES6 in our environment and we would like to use Sentinl as our alarming component.
But I'm having issues at creating new alarm at Sentinl. I've tried to follow http://sentinl.readthedocs.io/en/latest/Tutorial/ but had some problems. After some discussion at here https://github.com/sirensolutions/sentinl/issues/334 I've figured out my input was incorrect so I've fixed it. But still the

[2018-03-13 12:53] varun0002 commented on #336
@sergibondarenko: Raised PR # https://github.com/sirensolutions/sentinl/pull/342

[2018-03-13 13:28] lmangani commented on #341
Hi @masterofcloud1 thanks for trying out SENTINL on 6.x - this release is still experimental so there are quirks - we've removed the old tutorial as it was confusing most users due to the discontinued format it used.

I suggest to get rid of that - just create a "default" watcher using the wizard instead with the default query and set the condition to be `> 1` then save - basically a watcher count

[2018-03-13 13:28] #341 closed

[2018-03-13 14:06] nigellh commented on #337
@sergibondarenko Thanks. All works perfectly on Firefox

![image](https://user-images.githubusercontent.com/12110404/37346651-c76e45c0-26c7-11e8-83ff-6c4935914e70.png)

[2018-03-13 15:11] Ekouyoja opened #343 "Report with Search-guard"
Hi,

Sentinl v: 6.2.2
Kibana v: 6.2.2
ES v: 6.2.2

I try to use the report function with my Search-guard but i experiment some problem, one due to SG and other one due to Sentinl himself.

The first one with SG is when i run my report task he can't go to my dashboard link because of SG credentials. When i check the log it's apparently OK. I have try with account that have all access like admin.
Th

[2018-03-13 15:18] Ekouyoja opened #344 "Error second execution of report"
Hi,

Sentinl v: 6.2.2
Kibana v: 6.2.2
ES v: 6.2.2

Here is my second problem.
It appears when I execute for the second time my report.
When i reboot my kibana service the first execution of my report task run without error but the second time appear some errors. Here the logs of Kibana.
[code]

[2018-03-13 16:00] lmangani commented on #344
Hi,

The error is pointing at the message field:
[code]

In order to understand anything, you also need to paste the watcher you are executing please.

[2018-03-13 16:39] lmangani commented on #343
Could you confirm you followed the documentation for using SearchGuard: http://sentinl.readthedocs.io/en/latest/HOWTO-Sentinl-and-SearchGuard/

[2018-03-13 16:41] lmangani commented on #344
On a second look this appears related to your other ticket [343](https://github.com/sirensolutions/sentinl/issues/343) due to authentication failure - let's follow the progress there and reopen this if needed afterwards. Thanks!

[2018-03-13 16:41] #344 closed

[2018-03-14 08:35] Ekouyoja commented on #343
I didn't follow this documentation but I give to sentinl an Admin access. By the way it may work because I give all possible access to test this feature.

[2018-03-14 08:37] lmangani commented on #343
I suggest to follow the documentation or we won't be able to assist much. Thanks!

[2018-03-14 09:56] sergibondarenko commented on #343
@Ekouyoja also look this guide if you use basic auth in SearchGuard http://sentinl.readthedocs.io/en/latest/Authentication/#authenticate-search-request

[2018-03-14 10:08] Ekouyoja commented on #343
Yes i use it and I have parameter there directive.
I have access on my server only Monday now. I will test to follow exactly the documentation but I think this is not rights problem.

[2018-03-14 11:21] Aman-Jain-1994 commented on #334
@sergibondarenko  I tried to run a default watcher without any condition. Then also I face the same issues.

[2018-03-14 11:27] lmangani commented on #334
@Aman-Jain-1994 please attach logs and details or open a separate issue with them - thanks!

[2018-03-14 11:29] Aman-Jain-1994 commented on #334
Kibana logs:
[code]

Watcher Error Logs:
[code]

[2018-03-14 11:35] lmangani commented on #334
@Aman-Jain-1994 please anonymize the data! ;) ideally we need the logs for a full interaction. Create, run, etc. An existing watcher will only display the execution attempt. I would suggest you open a new issue with the full details so we can check this properly.

[2018-03-14 11:40] Aman-Jain-1994 commented on #334
ok. Thanks for that. I'll open another issue.

[2018-03-14 19:34] MauJFernandezUVR opened #345 "Error while storing alarm, duplicate field name."
1. Sentinl and Kibana version
**5.6.5**

2. Issue description
I installed Sentinl, configured a PDF report, but I'm getting this error in the logs:

[code]

From what I understand, Sentinl is trying to save a new mapping using a field named "message", which is already taken by the Graylog mapping.

3. Reproducing the issue step-by-step
Have Graylog installed, then install Sentinl and create a repo

[2018-03-15 01:28] br14nb0 commented on #340
I solved it, tks. Problem is in the ES query

[2018-03-15 01:28] #340 closed

[2018-03-15 01:35] br14nb0 opened #346 "Create some new actions for Sentinl"
Hello, I want to make a new action like "logging" or "syslog" for Sentinl. Any suggests that I can build easily with the code ? Just like Elastalert, it has a class that I can extend the class with new action. Thanks

[2018-03-15 03:34] Arvon2014 commented on #289
Now i have the same problem. Is this problem solved?
@lmangani

[2018-03-15 08:21] lmangani commented on #289
@Arvon2014 6.x or 5.x ?

[2018-03-15 09:17] sergibondarenko commented on #346
Hi @br14nb0
Here where all actions happen https://github.com/sirensolutions/sentinl/blob/master/server/lib/actions/actions.js
PR is highly welcomed.

[2018-03-15 09:29] sergibondarenko commented on #345
This is how Elasticsearch works since v2. Fields with the same name in different types in the same index must have the same mapping.

You have two alternatives:
1. Use separate indices
2. Rename one of the fields

Sources:
1. https://discuss.elastic.co/t/are-not-allow-to-have-the-same-field-name-in-different-elastic-types-with-differents-types-string-nested-json-number-what-would-be-the-solution-w

[2018-03-15 09:29] #345 closed

[2018-03-15 09:54] Arvon2014 commented on #289
My version is 6.2.2
I found that i didn't define the port but it works well, My smtp server port is 587,Has it been dealt with in this version?
And where can i view related documents

[2018-03-15 09:58] lmangani commented on #289
@Arvon2014 You said you both 'have the same problem` and `it works well` - which one is it? :)
The currently available docs are at [http://sentinl.readthedocs.io/en/latest/](http://sentinl.readthedocs.io/en/latest/) feel free to contribute with any extension if you see fit.

[2018-03-15 10:10] lmangani commented on #346
@br14nb0 if your intention is simply to create Elasticsearch documents with results, this happens by default with SENTINL regardless of the delivery actions. If not could you describe in more details what the desired outcome would be?

[2018-03-15 10:21] Arvon2014 commented on #289
At the beginning I found no place to fill in the port，so i write as
[code]
this time it can‘t work

----
then
I remove the port from the configuration file ，And now it works well
[code]
And you said The document is my reference now.  I didnt' find relate config
So  Is the right way to configure without port?
Thank you for your replay！！

[2018-03-15 11:04] masterofcloud1 opened #347 "Problem with reports"
Hello,
well, I really don;t know if it is a problem with my configuration or something... The documentation is not really clear about that. But I just can't make reports work.Every time I look at the reports tab I see totally nothing.

The code of the reporter:

[code]
Noted that i really don't care about the mail. I just want the report to be seen in the kibana

[2018-03-15 12:32] br14nb0 commented on #346
Thank you guys, i'm using your Watcher to integrate with ELK for my company instead of using X-pack. And I want to code an PDF report action that the admin can modify the template by himself like an Audit report, Assessment report.
In version 6.3.0 x-pack is opensource, hope u can improve Watcher and I assure i will contribute u soon

[2018-03-15 12:40] lmangani commented on #346
Thanks @br14nb0 we are happy to receive any contributions to extend and keep SENTINL truly open.

For absolute clarity, `x-pack` is **NOT** proper opensource at all from what I understand - this is a serious misconception they are pushing out - the reality is this just "shared source" meaning you can debug it for free, and Elastic gets to keep code rights under a non open-source license, and can c

[2018-03-15 13:53] MauJFernandezUVR commented on #345
I know that this is like that since v2, but Graylog uses its own index, how it can interfere with the index that Sentinl is trying to create?

`GET /_mapping/field/message`

[code]

[2018-03-15 13:53] sergibondarenko commented on #347
Do you have report `active` in kibana.yml? http://sentinl.readthedocs.io/en/latest/Config-Example/

[2018-03-15 13:54] sergibondarenko commented on #347
Also please paste here Kibana log output. What version of Kibana do you use?

[2018-03-15 14:18] #346 closed

[2018-03-16 08:04] buinauskas opened #348 "Struggling to send first report"
1. Sentinl and Kibana version
6.2.2
2. Issue description
Trying to create my first report that would look at exception log and send 5 endpoints that have happened the day before
3. Reproducing the issue step-by-step
I've got the following query which works just fine in Kibana Dev Tools as expected:
[code]
I went to Sentinl app in Kibana and created a new Watcher.
Added a random name and left defau

[2018-03-16 08:38] lmangani commented on #348
Hi @buinauskas the issues appears to be with saving - could you kindly check and append the Kibana logs for your `save` action? You might have to edit or recreate the watcher to capture those steps - thanks!

[2018-03-16 08:56] sergibondarenko commented on #348
@buinauskas Field `indices` is [deprecated](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-indices-query.html), use `index` in the search query. For example
[code]
Let me know.

[2018-03-16 09:26] buinauskas commented on #348
Changing `indices` to `index` and adding a dummy script condition has resolved it:
[code]

[2018-03-16 09:26] #348 closed

[2018-03-16 11:55] sergibondarenko opened #350 "Port to master "Execute report only if condition is matched and transform is resolved (if enabled)""
sirensolutions/sentinl#349

[2018-03-19 03:08] dzyangxi opened #351 "[error][status][Sentinl][email] Fail to send email. Watcher 0bkdwm7tk9ds-p8cd9mdzyp8-d66ymec8sxb: Error: connection encountered an error"
1. Sentinl 6.1 and Kibana 5.5.1

2.[error][status][Sentinl][email] Fail to send email. Watcher 0bkdwm7tk9ds-p8cd9mdzyp8-d66ymec8sxb: Error: connection encountered an error

[2018-03-19 03:33] br14nb0 opened #352 "Config report PDF action"
Hello guys,
I have a question how I can control the screenshot, because it depends on the loading time of URL.
I'm aware of value of DELAY field in report action. Does it mean waiting time to screenshot after URL is requested ?

![untitled](https://user-images.githubusercontent.com/30727793/37576843-ed2a74d0-2b60-11e8-96a1-d6598f56d51d.png)

[2018-03-19 03:45] br14nb0 opened #353 "Multi actions in an alarm"
Hello guys,
I config 2 actions in an alarm watcher including console and report. But look like only report working, console not working when I set 2 actions. Here my RAW action:

"actions": {
    "bruteforce": {
      "throttle_period": "0h5m0s",
      "console": {
        "message": "Bruteforce detected from IP: {{#payload.aggregations.group_by_IP.buckets}}{{key}} with {{doc_count}} attemtps,{{/p

[2018-03-19 06:35] #353 closed

[2018-03-19 07:14] br14nb0 opened #354 "Error when run Watcher for a while"
I don't change any config in console action. Yesterday, I ran it working well, but today I see this error when I try to conduct the demo
This is my error when run Watcher
[mapper_parsing_exception] object mapping for [message] tried to parse field [message] as object, but found a concrete value :: {\"path\":\"/watcher_alarms-2018.03.19/sentinl-alarm\",\"query\":{},\"body\":\"{\\\"@timestamp\\\":\\

[2018-03-19 07:41] Arun-Ghosh opened #355 "Screen hang when "Title" is same"
Hi Team,

The Sentinl screen get hung when "Title" is same for each individual component (General, Input, Condition ...) for a same alert.

<img width="1148" alt="screen shot 2018-03-19 at 12 44 55" src="https://user-images.githubusercontent.com/6536033/37583117-f6d1ecd8-2b75-11e8-9b30-7e2339e860df.png">
<img width="644" alt="screen shot 2018-03-19 at 12 45 43" src="https://user-images.githubuserc

[2018-03-19 09:45] buinauskas opened #356 "Using transformations in order to build a customized field"
1. Sentinl and Kibana version
6.2.2
2. Issue description
Trying to create a field using transforms from payload
3. Reproducing the issue step-by-step
I've got a query that returns data as follows:
[code]
And I'd like to have two fields in my alarm:

 - 2018-03-18
 - 2018-03-12

In order to do it, I have created following transformation:

[code]
And try to access my values like that using the follo

[2018-03-19 11:36] buinauskas commented on #356
Found the real issue. I was including `transform` key in editor, it was redundant.

[2018-03-19 11:36] #356 closed

[2018-03-19 11:37] br14nb0 opened #357 "Report tag not working"
I use action Report to export PDF of my screenshot. It still create report PDF that I expected. But in Report tag, there's not any reports history. Here is the alarm look like when report is done, but not show in report tag

![untitled](https://user-images.githubusercontent.com/30727793/37593455-a2653356-2ba4-11e8-9162-3364167b41e7.png)

[2018-03-19 12:04] masterofcloud1 opened #358 "Problem with new line"
Well... This problem is really really odd...
I am trying to use the transform to add new field to the payload and then using the new field in the actions.
But - i can't add new line to my new field.

That is my transform code(The rest of the alarm is not important):
[code]

[2018-03-19 12:09] masterofcloud1 commented on #347
I've added this lines to the kibana.yml but the kibana is failing to start since then...
`sentinl:
 settings:
   report:
    active:true
    tmp_path: /tmp
`

[2018-03-19 12:48] lmangani commented on #347
@masterofcloud1 did you respect the yaml indentation? I can't tell from your paste.
Check the kibana logs for the reason its not starting.

[2018-03-19 13:08] agarwalshivam456 opened #359 "Need to know condition script"
**query:**
[code]
===============================
**Output:**
[code]
===============
I want to grep doc_count where key : 500

[2018-03-19 13:14] sergibondarenko commented on #351
Sentinl v6+ is compatible **only** with Kibana v6+. Use Sentinl v5.5.1 for Kibana v5.5.1 https://github.com/sirensolutions/sentinl/releases/download/tag-5.5/sentinl-v5.5.1.zip

[2018-03-19 13:14] #351 closed

[2018-03-19 13:16] sergibondarenko commented on #358
please paste a sample of input data and the expected output

[2018-03-19 13:17] sergibondarenko commented on #347
An example of kibana.yml related to Sentinl
[code]

[2018-03-19 13:55] br14nb0 commented on #359
Bucket_selector is the best choice

 "aggs": {
    "status_code": {
      "terms": {
        "field": "status_code.keyword",
        "size": 10
      }
   "aggs": {
            "my_filter": {
               "bucket_selector": {
                  "buckets_path": {
                     "the_doc_count": "_count"
                  },
                  "script": "the_doc_count == 500"
               }

[2018-03-19 14:01] sergibondarenko commented on #359
You have two options:

1. Use [Array compare condition](http://sentinl.readthedocs.io/en/latest/Watcher-Anatomy/#condition_1)
[code]
2. Use the script condition and develop JS to parse buckets
[code]
Uncompressed version
[code]

[2018-03-19 14:01] #359 closed

[2018-03-19 15:43] Ekouyoja commented on #343
I have try the exact config described in documentation and here is my error :
[code]

In this case I try to report google.fr but I have the same error when I try to access Dashboard on my Kibana

[2018-03-19 22:59] sethyes opened #360 "Robust Keepalive Monitoring Accounting for 'Index Doesn't Exist'"
1. Sentinl and Kibana version 5.6.2

2. Issue description
I have a 'keepalive' watcher which monitors an index and reports if keepalive messages don't come through, indicating the data pipeline is broken. This would work great except that if no data is getting published to the expected index, the index doesn't exist and Sentinl doesn't execute the watcher, thus I never receive a keepalive alarm.

[2018-03-20 01:09] taoyantu opened #361 "how to add parameter after the url in input ,"
hello every one !
how to add the config,i want to add parameter after the url like   GET index/_search?preference=xxxx
please help me ,thank you very much !!

[2018-03-20 05:29] agarwalshivam456 commented on #359
@br14nb0 It's not working..

**QUERY:**
GET irctc-haproxy-2018.03/_search
{
  "size": 0,
  "query": {
    "bool": {
      "filter": [
      {
        "range": {
          "@timestamp": {
            "from": "now-30m"
          }
        }
        },
      {
        "match_all": {
        }
        }
      ]
    }
  }
  , "aggs": {
    "status_code": {
      "terms": {
        "field": "status_code

[2018-03-20 08:10] lmangani commented on #359
@agarwalshivam456 This is unrelated to SENTINL - Once you get a working query for your pattern working in raw Kibana/ES queries, you can directly use those in SENTINL watchers.

@br14nb0 thanks for the valid suggestion! You made an excellent point.

[2018-03-20 08:13] lmangani commented on #361
Hi @taoyantu
SENTINL Uses bare Elasticsearch queries - nothing special to them. So if you can make a query work in ES, you can use that in a watcher as-is. Check out the [docs](http://sentinl.readthedocs.io/en/latest/) for a few examples. Hope this helps!

[2018-03-20 08:13] #361 closed

[2018-03-20 08:19] Ekouyoja commented on #343
Mhhh I am not sure about it. I think I have upgrade before the installation of Sentinl.

Here the mapping of watcher_alarms

[code]

And here the mapping of watcher_alarms-2018.03.20

[code]

I have remove all watcher index and restart before give you mapping indices.

[2018-03-20 08:26] lmangani commented on #343
Error  "Can't get text on a START_OBJECT" indicates Elasticsearch was expecting an entry of type "string" but you are trying to give an object as input. @sergibondarenko does this suggest a root cause to you?

[2018-03-20 10:57] fbaligand opened #362 "Sentinl does not work with Firefox (and Internet Explorer)"
- Sentinl and Kibana version : 6.2.2
- Issue description :
When accessing Sentinl app for the first time with Firefox (version 59.0), Sentinl app does not initialize properly and logs an error in browser console. Then, I can't create watchers ('New' link is not displayed).
I reproduce the issue with Internet Explorer 11.
With Chrome, it is initialized properly, and I can create watchers.

- Additi

[2018-03-20 10:59] lmangani commented on #362
Hi @fbaligand is this with the very latest packages? I believe those 'finally' calls were all removed last week....

[2018-03-20 11:04] fbaligand commented on #362
Hi @lmangani,
I downloaded sentinl package on 2nd march.

[2018-03-20 11:08] fbaligand commented on #362
I just saw a commit last week which resolves the issue.
But is it published in "Releases" ?
BTW, is there a way to know when was last updated a release ?

[2018-03-20 11:11] lmangani commented on #362
@fbaligand the latest builds should resolve this in full, if not let us know.

We consider 6.x still beta, as soon as the quirks are addressed it'll take a regular release cycle but as you well know, there are no "plugin" versions possible we any update for a 6.2.2 plugin has remain tagged as 6.2.2 (thanks to the geniuses at Elasticsearch!)

[2018-03-20 11:11] #362 closed

[2018-03-20 11:49] varun0002 opened #363 "Errors while using Sentinl"
Sentinl and Kibana version: 5.4.1

I would like to report following issues/queries:

1. Sentinl gives _"Sentinl Watchers: Error 500 Internal Server Error: An internal server error occurred"_ whenever highlighted is there in input query & this comes with each watcher created using SPY plugin from dashboard:
{
  "search": {
    "request": {
      "index": [
        **"<index{now/d}>",
        "<inde

[2018-03-20 11:56] lmangani commented on #363
Thanks for your reports @varun0002  - they are deeply welcome and appreciated but for the sake of succeeding, I strongly suggest not to mix multiple issues and reports, or confusion will take over.

Could you please raise each issue separately with a clear title, so developers and contributors can work on it - Many Thanks!

[2018-03-20 11:56] #363 closed

[2018-03-20 12:01] varun0002 commented on #363
Done

[2018-03-20 12:02] varun0002 opened #364 "Duplicate Watcher with same title"
Sentinl and Kibana version: 5.4.1

Issue description:
Sentinl allows same Title for multiple watchers. I believe it should restrict duplicate watcher title name as it creates lot of confusion for the user.

[2018-03-20 12:03] varun0002 opened #365 "Copy/Clone to option for Watcher definition"
Sentinl and Kibana version: 5.4.1

Request for Information:
Do we have any _copy to_ option available. **Use case**: I want to create multiple watchers with slight change in input and condition definition. Currently, I have to copy all screens in notepad and then paste screen by screen to new alert. Copy to option should help me to generate new watcher and make changes where ever required.

[2018-03-20 12:31] varun0002 opened #366 "Sentinl Watchers: Error 500 Internal Server Error with SPY plugin"
Sentinl and Kibana version: 5.4.1

Issue Description:

Sentinl gives "Sentinl Watchers: Error 500 Internal Server Error: An internal server error occurred" whenever highlighted is there in input query & this comes with each watcher created using SPY plugin from dashboard:
{
"search": {
"request": {
"index": [
"<index{now/d}>",
"<index{now/d-1d}>"
],
"body": {
"query": {

Same error, when try simil

[2018-03-20 13:01] lmangani commented on #360
@sethyes trying to understand the scenario. My first attempt would be to detect a missing (daily) index in parallel to this detection not to overload its role, is this something you already attempted?

Could you provide the logs (or better query) resulting from one of those borked executions when the index is not found? It's just a matter of catching the condition and probably adding "error" repor

[2018-03-20 14:18] fbaligand commented on #362
@lmangani
I just tested with the last release and it works great !
=> Thanks for the fix !

[2018-03-20 14:20] fbaligand commented on #362
@lmangani
It would be great to have a comment or something like that in "6.X.X" release that indicates last build date or commit.
Today, the only way I have to know there is a new build, it is to download the package and compute the checksum.

[2018-03-20 14:32] fbaligand opened #367 "Sentinl 6 : blank content on Watcher spy tab"
1. Sentinl and Kibana version : 6.2.2

2. Issue description
When I am on a visualization, and click on the "spy" button, and then, the "Watcher" tab, I get a blank content.

3. Reproducing the issue step-by-step
I go on "Visualize" app and then create a Data Table
I click on the "spy" button and then "Watcher" tab
I get a blank tab content

6. Additional details
Here's a screenshot on Chrome :
![i

[2018-03-20 17:33] sethyes commented on #360
I did attempt to detect a missing index on the input, however I received an error as `exists` doesn't support `index` field.
My input:
[code]
and the response:
[code]
I'm not seeing much in the Kibana logs, but I do get a console alert:
[code]

My only issue with just looking for a missing index, is that means I might not be alerted to a down pipeline until the following day. If I could make indic

[2018-03-20 17:39] lmangani commented on #360
I see - What if we had an `alert on index_not_found` option in general for watchers? I guess its not useless in general....

[2018-03-20 19:05] sethyes commented on #360
That'd be great! Either that, or allow for the search to return no results due to the index not existing.

[2018-03-20 19:45] lmangani commented on #360
I think the long term solution would be to offer two parsers, for results AND errors so both can be handled. We'll do some brainstorming around this and find a viable path to start with.

[2018-03-20 20:42] sethyes commented on #360
Thanks! Your commitment to maturing this standout product is what has my whole company committed to using your products. Let me know if I can provide any assistance.

[2018-03-21 04:44] br14nb0 opened #368 "Report is made every Watcher rule run not even trigger"
Report is made without trigger alarm. How can I control it ?
![untitled](https://user-images.githubusercontent.com/30727793/37694876-40308a96-2cfd-11e8-9e86-304b513a0831.png)

[2018-03-21 09:50] agarwalshivam456 opened #369 "Can i define decimal place in transform script in sentinl watcher"
Created another field (percentage) by two another field. Now i want to have output  to 3 decimal places.
Is it possible in sentinl watcher?
===============================
**transform script:**
{
  "script": {
    "script": "payload.hits.myvar = payload.aggregations.error.value / payload.hits.total * 100"
  }
}

===============================
**output:**
0.00944220192148809

Can i define decimal

[2018-03-21 10:18] lmangani commented on #369
Hi @agarwalshivam456 you can use plain javascript for this: `.toFixed(2)`

[2018-03-21 10:18] #369 closed

[2018-03-21 10:48] agarwalshivam456 commented on #369
@lmangani Can you please tell me where i have to put this value?

[2018-03-21 10:52] agarwalshivam456 commented on #369
@lmangani I got that.

Thank you so much @lmangani

[2018-03-22 08:48] masterofcloud1 commented on #358
For example: I have 2 servers(named ser1 and ser2) which have low CPU idle.
I want to send an E-mail to myself which will look like that:
ser1 low CPU idle: <idle_value>
ser2 low CPU idle: <idle_value>

I want to create a long string with '/n' in the middle. But as I said,the watcher is failing...

[2018-03-22 08:53] lmangani commented on #358
You can use `email_html` and loop through the reporting items with mustache:
```{{#hosts}} <p> {{ some_value}} </p> {{/hosts}}```

For more ideas see the mustache documentation and examples - hope this helps!

[2018-03-22 08:53] #358 closed

[2018-03-22 08:55] masterofcloud1 commented on #347
Yes... Still buggy.
`
sentinl:
  settings:
    report:
      active:true
      tmp_path: /tmp
`

[2018-03-22 09:13] lmangani commented on #347
@masterofcloud1 please be specific and attache full details and kibana logs when starting and when running the report - guesswork is dangerous. Thanks!

[2018-03-22 09:23] masterofcloud1 commented on #358
@lmangani  I figured it out. Just wanted to report on the bug :smile:

[2018-03-22 09:27] lmangani commented on #358
@masterofcloud1 thanks! I don't really consider this a bug, since all the "formatting" is to be done in actions, but its appreciated nevertheless to improve documentation and examples

[2018-03-22 09:30] masterofcloud1 commented on #347
Found why the kibana didn't start... That was my mistake. Apologize.
But still I can't see any reports. Instead, I see alarms with the following info:
sentinl:
  settings:
    email:
      active: true
      host: beast
    report:
      active: true
      tmp_path: /tmp/
      search_guard: true

[2018-03-22 09:52] lmangani commented on #347
Hi did PhantomJS get installed on the system? I guess not - please try install it manually and run again.

*NOTE: We're moving away from PhantomJS very soon*

[2018-03-22 12:41] masterofcloud1 commented on #347
Installed it again, via npm and apt(Don't really know from where you want to get it).
When I use url with localhost, I still got no report,but now I get empty payload(`{}`).
If I use the IP address instead of localhost, I still don't get any
report,but now I get an alarm with this:
[code]

[2018-03-22 16:01] sergibondarenko commented on #352
@br14nb0 yes put a number of ms you want to wait before the report is done.

[2018-03-22 16:01] #352 closed

[2018-03-22 16:37] sergibondarenko commented on #364
@varun0002 can you rename one of the watchers?

[2018-03-22 16:53] sergibondarenko commented on #364
In the latest Sentinl version we have Kibana modal warning user that there is a watcher with this name already and you can give the same name or type a new name.

[2018-03-22 16:53] #364 closed

[2018-03-22 18:02] myrklewk opened #370 "[6.2.2] Creating Watchers directly in ES / what indexes are used"
I would like to create watchers from an external application using the ES REST api. I found other closed issues which suggested writing to the appropriate indexes directly where sentinl would pick them up.

Problem is, I don't see any indexes associated with sentinl watchers in ES. I can create watchers through the Kibana UI, they run, alerts are created, I see the watchers_alarms index, but no in

[2018-03-22 19:19] lmangani commented on #370
depending on  your configuration settings, by default `watcher` index is used to store watchers, and `watcher_alarms` to store execution results - You can query those directly from Kibana and see their contents which should be 1:1 with the programmed watcher you saved - You can manually edit and insert from Kibana or other scripts as long as you respect the common format. Sentinl will load up and

[2018-03-22 19:19] #370 closed

[2018-03-22 19:47] myrklewk commented on #370
So, are you saying that watchers I create through the UI don't get saved in the watcher index but if *I* create one, of the correct format, in the watcher index Sentinl will pick it up? Because I've created numerous watchers through the UI in Kibana, and they execute and generate alarms, but there is no watcher index.

I haven't changed the configuration settings for Sentinl, so everything should

[2018-03-22 20:12] lmangani commented on #370
Check the kibana logs they should tell you why its not being loaded perhaps. I would suggest copying the document from the Dev enviroment rather than copy-paste the raw tab to be accurate in terms of destination format.

[2018-03-22 20:38] myrklewk commented on #370
There's nothing obvious in the log, I've attached the start of the log when kibana starts up. Note that the three watchers appearing in the log (two of which are disabled) were all created through the Kibana/Sentinl UI, there is a fourth in the watcher index that doesn't show up in the logs at all (that's the one I created with the PUT).
[klog.txt](https://github.com/sirensolutions/sentinl/files/1

[2018-03-23 10:48] sergibondarenko opened #371 "Update doc to with new email and report config properties"
1. Sentinl and Kibana version

2. Issue description

3. Reproducing the issue step-by-step

4. Expected results vs. actual results

5. Sample of data

6. Additional details

[2018-03-23 13:53] #368 closed

[2018-03-23 13:53] #371 closed

[2018-03-26 05:10] taoyantu commented on #361
@lmangani but ， i can`t fing how to add the url parameter "preference" in the query body .do you know how to add this ？i user curl can add the parameter like curl -XGET  "http://1.1.1.1/aaaa/_search?preference=hello"

[2018-03-26 07:53] sergibondarenko opened #374 "Update report doc about chrome path"
1. Sentinl and Kibana version

2. Issue description

3. Reproducing the issue step-by-step

4. Expected results vs. actual results

5. Sample of data

6. Additional details

[2018-03-26 09:47] yabir opened #376 "Change timezone not working"
**1. Sentinl and Kibana version**

Kibana: 6.2.1 (Official docker container, OS: CentOS)
Sentinl release: 6.2.1

**2. Issue description**

I want the watchers running in my localtime (not UTC) but it is not changing the execution time even if I change the `sentinl.es.watcher.schedule_timezone`  to `local`.

Here is my sentinl configuration:

[code]

Am I doing something wrong?

I want to use this

[2018-03-26 10:36] fbaligand commented on #367
@szydan
Why did you close this issue ?

[2018-03-26 10:49] sergibondarenko commented on #367
@fbaligand I marked this as solved in the private branch fix. Let's have it opened until the fix is ported here.

[2018-03-26 11:18] fbaligand commented on #367
Thanks @sergibondarenko for reopening the issue, and especially for the fix !

[2018-03-26 14:10] #261 closed

[2018-03-26 14:10] #318 closed

[2018-03-26 14:10] #343 closed

[2018-03-26 14:10] #347 closed

[2018-03-26 14:10] #350 closed

[2018-03-26 14:10] #354 closed

[2018-03-26 14:10] #357 closed

[2018-03-26 14:10] #367 closed

[2018-03-26 17:25] fbaligand commented on #367
I confirm that the bug is now fixed !
=> thanks guys !

[2018-03-26 19:30] ankitachow commented on #247
Hi ,
I'm using Kibana 5.4 version. I also have SearchGaurd. I don't see the report snapshot in the Sentinl reports tab correctly. Sometimes I see no report generated whereas sometimes its the SearchGaurd/Kibana login page. I'm using the url Share snapshot URL from Kibana dashboard. I dont have smtp. So, I just want to see the Dashboard snapshot at certain interval created as a report in the Report

[2018-03-26 19:57] lmangani commented on #247
@JMNDev try to increase the `"delay` parameter to allow the page to fully load in PhantomJS

[2018-03-27 07:18] sergibondarenko commented on #374
Done it here http://sentinl.readthedocs.io/en/latest/Config-Example/

[2018-03-27 07:18] #374 closed

[2018-03-27 07:21] #316 closed

[2018-03-27 07:56] sergibondarenko opened #379 "Update doc"
Put config examples for both before and after v5.6, like it was done here https://github.com/sirensolutions/kibi-internal/pull/4842

[2018-03-27 08:35] hAtvis opened #380 "Watchers: fail to list watchers, TypeError: this._$http is not a function"
1. Sentinl and Kibana version
5.6.4
2. Issue description
after i installed sentinl, i restart kibana. when i open sentinl, it shows me
Watchers: fail to list watchers, TypeError: this._$http is not a function

3. Reproducing the issue step-by-step
i install sentinl with:
/usr/share/kibana/bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag-5.6.2/sentinl-v5.6.4

[2018-03-27 08:40] lmangani commented on #380
@hAtvis this is a Kibana failure, you will need to tell us everything relevant about your setup here and how the installation went to even attempt to help. For instance, do you have authentication, or any other plugins installed?

[2018-03-27 09:07] shizhoulong356 commented on #380
With the same questions:
I also install  kibana through the commands: yum  -y install  kibana-5.6.4-x86_64.rpm

and this is my configuraiton of kibana:
server.port: 5601
server.host: "0.0.0.0"
elasticsearch.url: "http://10.2.34.129:9200"
kibana.index: ".kibana"
there is nothing sepcial

install the pligins:
./bin/kibana-plugin install https://github.com/sirensolutions/sentinl/releases/download/tag

[2018-03-27 09:10] lmangani commented on #380
@hAtvis I have no familiarity with the package, could you confirm if you are installing the open-source version of Kibana, or the one riddled with the Elastic commercial extensions?

[2018-03-27 09:14] JMNDev commented on #247
Thank you for the tip @lmangani, but i allready  tried that, but seems after a big "delay" the page crashes and i got a screenshot of a page with errors.
Seems there's some hardcoded max delay. Is that possible ? you know how to change that max value ?

Thank you once again

[2018-03-27 09:16] shizhoulong356 commented on #380
@lmangani ,Nope,  thereis no other extensions.
We all download the kibana package through the official sites

[2018-03-27 09:20] hAtvis commented on #380
kibana was downloaded from https://artifacts.elastic.co/downloads/kibana/kibana-5.6.4-x86_64.rpm
I just confirmed that sha512 is the same

[2018-03-27 09:31] lmangani commented on #380
Could you guys confirm if the Kibana you are installing comes with x-pack installed? I'm not sure if this is the case for packages, but for containers it sure is:
[code]

[2018-03-27 09:43] shizhoulong356 commented on #380
we not running kibana on docker,  but on the physical machine based on centos 6.5 .  So We're sure that x-pack is not installed at all .  And  our kibana version is 5.6.4

[2018-03-27 11:37] JMNDev commented on #247
@lmangani I have tried to change de delay in the report action to a higher value but i allways get a page with error.
I send you as attachment  the logs you requested and a screenshot of the screenshot i got.

Thank you

![image](https://user-images.githubusercontent.com/31067292/37965032-90945bb2-31bb-11e8-8214-bbc9c4a72f06.png)

[logs_sentinl.log](https://github.com/sirensolutions/sentinl/files/

[2018-03-27 12:43] sergibondarenko commented on #380
@hAtvis I can reproduce this. There will be a fix soon

[2018-03-27 13:39] sergibondarenko commented on #380
@hAtvis @shizhoulong356 guys, it is v5.6.x bug only. Do you have an option to use Kibana v6+?

[2018-03-27 15:06] yabir commented on #376
Solution: The `kibana.yml` file was fine. The problem was that my container had the localtime set to UTC, and the localtime that Kibana was showing me (borded by a red rectangule in the issue description), it comes from my browser's localtime.

So I changed the `localtime` of the Kibana container (CentOS) using:

[code]

And it worked.

[2018-03-27 15:06] #376 closed

[2018-03-27 15:10] lmangani commented on #376
Thanks for sharing your solition @yabir
I'll add this to the FAQ to help others!

[2018-03-27 15:59] yabir commented on #376
Good @lmangani , I hope it helps.

It would be nice to have another sentinl timezone option that comes directly from the kibana's configuration `(Kibana > Management > Advanced Settings > dateFormat:tz)` since it has already the timezone we're using and it will not be necessary to change it in the Kibana host.

[2018-03-27 16:15] lmangani commented on #376
@yabir could you open a feature request with those details? It'll help us keep in the scope of roadmap.

[2018-03-28 02:42] shizhoulong356 commented on #380
But Our All application Components are base on 5.6.4 , If Kibana  v6+ has no problems, we can try

[2018-03-28 03:00] shizhoulong356 commented on #380
@hAtvis  We tried v6+, but my kibana  can't compationable with my Elasticsearch. So  Look forward for your bug fix

[2018-03-28 08:33] yabir opened #381 "Feature request: Support regional timezone from Kibana configuration"
Until now Sentinl has two options for timezones to run the watchers: `utc (default)` and `local`.

It would be nice to have another option that comes directly from the kibana's configuration `(Kibana > Management > Advanced Settings > dateFormat:tz)` since it has already the timezone we're using and it will not be necessary to change it in the Kibana host (in order to use the `local` option).

Thi

[2018-03-28 08:34] yabir commented on #376
Sure, Here's the feature request : #381

[2018-03-28 08:49] sergibondarenko commented on #380
@hAtvis @shizhoulong356 guys, meanwhile use the following temporary workaround
1. Download Sentinl from here https://github.com/sirensolutions/sentinl-private/archive/tag-5.6.2.tar.gz
2. Unpack it `tar -xzvf sentinl-private-tag-5.6.2.tar.gz`
3. Go inside `cd sentinl-private-tag-5.6.2`
4. Change `version` from `5.6.2` to `5.6.4` in the `packages.json`
5. Install libs `npm install && npm install -g

[2018-03-28 08:59] szydan commented on #380
@sergibondarenko Instead of
[code]

You can run
[code]

Then there is no need to press Ctrl+C

[2018-03-28 10:14] gauravkarens commented on #160
Where can I find the kibana.yml file inside the container

[2018-03-28 10:17] gauravkarens commented on #160
@FluffyAlpaca  where can I find the kibana.yml file insid the kibana container

[2018-03-28 11:08] d-malko opened #382 "Can you add zip artefacts for 5.6.8 version"
Issue description
I want install sentinl for Kibana version 5.6.8, but no zip archive with plugin for this version on github.
But I can`t find assets for this version. Although a few days ago I downloaded them

Thank you!

[2018-03-28 12:04] shizhoulong356 commented on #380
I can't download the private version  As  you mentioned above,   the return code is 404 @sergibondarenko

[2018-03-28 14:40] sergibondarenko commented on #382
Added https://github.com/sirensolutions/sentinl/releases/tag/tag-5.6.2

[2018-03-28 14:40] #382 closed

[2018-03-28 14:40] sergibondarenko commented on #380
@shizhoulong356 @hAtvis
Added archives https://github.com/sirensolutions/sentinl/releases/tag/tag-5.6.2

[2018-03-28 19:28] d-malko commented on #382
Sergij, thank you very much!

[2018-03-29 14:23] masterofcloud1 opened #383 "Issue with the GUI"
Well it is some really weird issue... But you have some serious GUI problem.
Almost every time I press the help button it is covered by the panel on the side.
Attached picture of example:

![image](https://user-images.githubusercontent.com/35032551/38094158-b6abc98c-3375-11e8-977c-8966c95678e5.png)

[2018-03-30 00:47] manish2479 opened #384 "configuring Watchers fail to save"
Hi

I am new to sentinl and I am trying to follow the docs from here http://sentinl.readthedocs.io/en/latest/Watcher-Wizard/ and did similar steps except the title is different and while saving I get error as below:

`Editor: Fail to save field: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`

Here is the raw data of that config.

[code]
Any help would be appreci

[2018-04-02 11:56] Efeyabel opened #385 "fail to get watcher"
## 1. Sentinl and Kibana version

Kibana 6.2.2
Sentinl 6.2.2

## 2. Issue description

`fail to get watcher 1e0eb200-3660-11e8-8ee6-2d3b42c859e8`

## 3. Reproducing the issue step-by-step

Try to make a new watcher and run it

## 5. Sample of data

My watcher
[code]

## 6. Additional details

Check if exsist:
[code]

Return

[code]

[2018-04-02 15:35] ankitachow commented on #247
I was able to get the snapshot of the report under Reports as per the scheduled time. But how to get a pdf of the same?

[2018-04-02 15:41] lmangani commented on #247
@ankitachow this option is very sketchy and will be available once we fully switch away from PhantomJS (which is already done in development and soon to be released)

[2018-04-02 15:48] ankitachow commented on #247
@lmangani Thanks for your reply.
Now the pdf download option is not available?

[2018-04-02 16:07] lmangani commented on #247
You need to use the `master` version with `pupeteer`
[code]

[2018-04-03 07:26] sergibondarenko commented on #385
@Efeyabel please provide output from the Kibana console.

The output should be with the verbose option enabled:
**kibana/config/kibana.yml**
[code]

[2018-04-03 07:28] sergibondarenko commented on #384
@manish2479 what version of Kibana and Sentinl do you use?

[2018-04-03 07:38] sergibondarenko commented on #384
@manish2479 in order to trigger an alarm on an error message came from `/va/log/messages` you must have it stored in Elasticsearch first. Sentinl doesn't have any means to read local files. The goal of Sentinl is to search data in Elasticsearch.

Use [Logstash](https://www.elastic.co/products/logstash) to inject data from a file to Elasticsearch. Then you can configure Sentinl watcher to execute a

[2018-04-03 07:52] sergibondarenko commented on #384
Here is a short video about how to create a basic watcher https://youtu.be/qk9ZZYqUevU

The watcher execution heavily depends on what you put in [Search](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html) and [Condition](http://sentinl.readthedocs.io/en/latest/Watcher-Anatomy/#condition_1) tabs.

[2018-04-03 08:31] Efeyabel commented on #385
``3/4/2018 10:30:35  log   [08:30:35.384] [debug][plugin] Checking Elasticsearch version
3/4/2018 10:30:35respons [08:30:35.691]  POST /api/saved_objects/bulk_get 200 26ms - 9.0B
3/4/2018 10:30:36  log   [08:30:36.045] [debug][Sentinl][get_elasticsearch_client] impersonating Elasticsearch client by elastic:changeme
3/4/2018 10:30:36  log   [08:30:36.047] [debug][Sentinl][watcher] executing watcher

[2018-04-03 09:01] sergibondarenko commented on #385
@Efeyabel ok, now please show me kibana.yml

[2018-04-03 09:08] Efeyabel commented on #385
[code]

[2018-04-03 09:30] sergibondarenko commented on #385
@Efeyabel so, you have x-pack authentication working, right?

Then you `authentication` part of the config misses `mode`:
[code]

[2018-04-03 09:31] sergibondarenko commented on #385
Here is the doc http://sentinl.readthedocs.io/en/latest/Authentication/

[2018-04-03 09:48] Efeyabel commented on #385
Nope, i dont use any authentication sistem.

[2018-04-03 11:35] neelrana opened #386 "Importing and Exporting Alerts"
1. Sentinl and Kibana version
Kibana 6.2.2
Sentinl 6.2.2

2. Issue description

Hello, I was wondering if there is any way to import and export alerts from one cluster to another. I have two different environments with kibana and Sentinl installed. I have created base template watchers on one of the environment however I wanted to know if I could copy those watchers onto the other environment with

[2018-04-03 12:19] shrv commented on #383
Hello.
I see the same thing.
ELK - 6.2
sentinl - 6.2.2
Installed according to the instructions to github
[code]
Allow me another question.
For version 6.2.2, it is important to make changes to the /etc/kibana/kibana.yml ?
As written here
<http://sentinl.readthedocs.io/en/latest/Config-Example/>

[2018-04-03 12:25] lmangani commented on #385
@sergibondarenko shall we add this to the FAQ for this specific error checklist?

[2018-04-03 12:32] shrv commented on #383
@lmangani Thanks!
Note, for you install instruction.
For ELK 6.2, path to kibana-plugin is
[code]

[2018-04-03 12:33] lmangani commented on #383
@shrv thanks for the heads up, what document are you referring to specifically?

[2018-04-03 12:43] shrv commented on #383
Here
<https://github.com/sirensolutions/sentinl/blob/master/README.md>

In the instructions at <http://sentinl.readthedocs.io/en/latest/Installation/#dev-plugin-install> everything is correct

[2018-04-03 12:43] sergibondarenko commented on #386
@neelrana watchers are stored inside `.kibana` index.
1. Get all watchers first. For example, get first 10 watchers and write them to `my_watchers.json` file.
[code]
2. Edit file `my_watchers.json`. Delete all lines except those inside `hits.hits` array, for example
[code]
3. Index watcher into another cluster
[code]

[2018-04-03 12:43] #386 closed

[2018-04-03 12:45] sergibondarenko commented on #385
@lmangani yes, we can.

[2018-04-03 12:45] Efeyabel commented on #385
I switch to false and still not work

[2018-04-03 12:46] sergibondarenko commented on #385
@Efeyabel
Do you have the same error?
Are you sure the Kibana was restarted?

[2018-04-03 12:50] sergibondarenko commented on #385
@Efeyabel what result does the following command produce?
[code]

[2018-04-03 12:54] sergibondarenko commented on #385
Let's apply a minimal configuration, then add options if they are required:
[code]

[2018-04-03 14:45] shrv opened #387 "fatal error when restarting kibana"
Hello.
ELK - version 6.2
sentinl - version 6.2.2

in kibana.yml
[code]
When i restart kibana (sudo -u kibana bin/kibana), i see error

[code]
What am I doing wrong?
Thank you.

[2018-04-03 16:25] callahan22 commented on #387
I have the same issue in 6.0.0.
Running on Windows however.

[2018-04-03 17:15] callahan22 opened #388 "Config failing on default options"
Sentinl version & Kibana version: 6.0.0 running on Windows 2012

**Issue description**
Kibana fails to run with the default config set up in Sentinl. I realise the executable_path is incorrect for a Windows box but as I can't get it to accept the executable_path variable, it didn't seem important at the moment!

I have the following config defined in Kibana.yml :

[code]

Starting Kibana, causes t

[2018-04-04 07:48] Efeyabel commented on #385
All other thigs works pretty well, i can edit, delete and create Watchers, but when y try to run it i got the error

[2018-04-04 08:34] ebuildy commented on #387
You can see the configuration structure here:

https://github.com/sirensolutions/sentinl/blob/tag-6.2.2/index.js

(Sentinl is open-source, dont hesitate to read the sources!)

[2018-04-04 08:35] ebuildy commented on #388
Check configuration here https://github.com/sirensolutions/sentinl/blob/tag-6.2.2/index.js

[2018-04-04 08:41] shrv commented on #387
@ebuildy
Thank you for the clarification.
It's just a habit to do the instructions and ask :)
A do not look the code, look the instruction and compare :)

[2018-04-04 13:37] sergibondarenko commented on #387
@ebuildy @shrv guys, the tag-6.2.2 holds old data. All .zip packages constantly synchronized with master branch https://github.com/sirensolutions/sentinl

[2018-04-04 13:39] sergibondarenko commented on #387
@shrv `file` property should be allowed. Are you sure you have the latest Sentinl .zip package? https://github.com/sirensolutions/sentinl/releases/download/tag-6.2.2/sentinl-v6.2.2.zip

[2018-04-04 13:53] sergibondarenko commented on #387
@shrv The correct install procedure is
[code]
Did you do this?

[2018-04-04 13:56] sergibondarenko commented on #388
@callahan22  The correct install procedure is
[code]
Did you do this?

[2018-04-04 13:59] sergibondarenko commented on #388
Btw, the following options are applied by default and you can omit them you don't want to change the default values
[code]

[2018-04-04 14:29] shrv commented on #387
@sergibondarenko
Yes. I install it this way.
At this point, I deleted the configuration data from the kibana.yml that caused the error.
Now for me it is not critical.
Now i probe use watcher.
While trying to get the event from the wattcher to the console,  I get the same error as
<https://github.com/sirensolutions/sentinl/issues/334>

[2018-04-04 14:54] sergibondarenko commented on #387
@shrv
1. Do you use authentication for elasticsearch?
2. Do you see any error in the Kibana console with `logging.verbose: true`?
3. Post here full kibana.yml
4. Please do the following command for me and post results here
[code]

[2018-04-04 15:12] shrv commented on #387
@sergibondarenko
1. No
2. Tomorrow I can already turn on and check. Today I have everything, home :)
3.
[code]
4.
[code]

[2018-04-04 15:31] callahan22 commented on #387
Hope I'm not jumping onto @shrv 's thread but just to add to this...

I've used the
https://github.com/sirensolutions/sentinl/blob/tag-6.0.0/index.js for my
instance reference. For anyone else needing a framework for V6.0.0, I've
included it below. I don't know what all of the components do yet but it
makes it easier to get started if there's a default config. The commented
out lines are live in V

[2018-04-04 15:51] callahan22 commented on #388
@sergibondarenko

Correct, I installed it the way you've mentioned above. Thanks for the info regarding the PDF setup. I've commented in the thread below this one with some info on the issues I'm having with the config.

[2018-04-04 21:08] shrv commented on #387
I create watcher and and got the error:
[code]

request:
[code]
Executed and watcher exists.
Raw my watcher:
[code]
INPUT I cheked in DevTools, he is work.

I have one thought. What can cause an error.
But I'm not sure if you can tell me if I'm right or wrong.
I have indexes of this format : Filebeat-%{+YYYY.MM.dd}

The entry below describes the index we are referring to. And there is no such inde

[2018-04-04 21:13] lmangani commented on #387
Hi @shrv you can try the above in your watcher by editing it in `raw` mode to confirm if this is the case

[2018-04-05 04:24] shrv commented on #387
@lmangani ,
So I will do it.
There were doubts about the correctness of the mask that I wrote, I hoped that you will tell :)

Another thing that I noticed in the INPUT tab,
When save it with the same name, sentinl says it exists and will be overwritten.
But if  click  in the download there are we see already 2 entries with one name, but different content. I now have five of them, such entries unde

[2018-04-05 08:40] sergibondarenko commented on #334
@shrv I need the following info
1. The error message
2. kibana.yml
3. Results of the following command
[code]

[2018-04-05 08:41] shrv commented on #387
@lmangani @sergibondarenko
Guys, I checked my guess. But the error is the same:(.
Now, my RAW:
[code]
Grep for the phrase "fail" in log kibana:
[code]
Maybe the whole problem is this?
And it's easier for me to remove sentinl and try install again and to muzz :) ?

[2018-04-05 08:44] sergibondarenko commented on #387
@shrv How did you install Sentinl? Show me the commands you used.

[2018-04-05 08:46] shrv commented on #334
@sergibondarenko
I am sorry.
Because of me you opened this ticket.
All information is in my ticket # 387. Let's probably already there and continue to communicate.

[2018-04-05 08:51] shrv commented on #387
I installed the instructions in the readme
<https://github.com/sirensolutions/sentinl/blob/master/README.md>
[code]
But I  indicated his a different path to bin/kibana-plugin

[2018-04-05 08:54] sergibondarenko commented on #387
@shrv And the Kibana is v6.2.2, right?

[2018-04-05 09:05] sergibondarenko commented on #387
@shrv sorry for a lot of questions but I can't reproduce the issue.

Your message saying `...fail to install phantomjs...` worries me. Because PhantomJS was deprecated and there definitely shouldn't be any phantomjs installation executed by Sentinl.

Please execute the following commands and paste the results:
[code]

[2018-04-05 09:12] shrv commented on #387
1. Thank you very much that you try to help as much as possible.
2. ```
/usr/share/kibana# grep -rni "phantom" plugins/sentinl/ | grep -v node_modu
plugins/sentinl/server/lib/actions/helpers/horseman_factory.js:22:        'phantomPath': server.plugins.sentinl.phantomjs_path
plugins/sentinl/server/lib/actions/helpers/horseman_factory.js:35:* @property {object} horseman - phantomjs helper
plugins/se

[2018-04-05 09:24] shrv commented on #387
how i cheked version sentinl in CLI ?
I now noticed that the kibana when requesting status shows version 6.0.0.
Although I installed this way
[code]
![understand](https://user-images.githubusercontent.com/11438507/38357812-4adeeaac-38cc-11e8-9188-d8cf75eb2549.jpg)

[2018-04-05 09:28] szydan commented on #387
@sergibondarenko from the package.json of the zip mentioned by @shrv
[code]
Maybe if possible we could change the "version" to something like "6.x" to indicate that this version is compatible with the whole line 6.x or we put the exact version while generating the zip

[2018-04-05 09:37] #334 closed

[2018-04-05 09:38] lmangani commented on #387
@szydan good idea but i'm afraid it will complain if anything non-numeric is used?

[2018-04-05 09:42] sergibondarenko commented on #387
@shrv you have old Sentinl code base which is not compatible with the config you are trying to use. Let us reinstall Sentinl.
[code]

[2018-04-05 09:44] sergibondarenko commented on #387
@shrv I fixed a typo in a command

[2018-04-05 09:45] szydan commented on #387
@lmangani
It is OK in semver to use a range notation
https://docs.npmjs.com/misc/semver#x-ranges-12x-1x-12-
but we have to try to see if Kibana will complain

[2018-04-05 09:45] shrv commented on #387
@sergibondarenko
No problem.
I'll let you know how it's ready.

[2018-04-05 10:02] shrv commented on #387
And so
1.
[code]
2.
[code]
3.
[code]
4.
[code]
5.
[code]
chown kibana:kibana on folder optimize ?

[2018-04-05 10:34] sergibondarenko commented on #385
@Efeyabel let's reinstall Sentinl from the latest release
[code]
Use the minimal Sentinl config:
[code]

[2018-04-05 10:41] sergibondarenko commented on #384
@manish2479 if still doesn't work, an example for v6.2.2:
[code]

[2018-04-05 11:14] shrv commented on #387
In kibana.yml add settings from the first message.
Kibana works.
![elk2](https://user-images.githubusercontent.com/11438507/38362869-0901a930-38db-11e8-8a0d-7699f3e9ece0.jpg)
But when you try to execute watcher in manual mode. The same error.
![elk3](https://user-images.githubusercontent.com/11438507/38363011-a301a9a4-38db-11e8-8cb7-98c452b751a6.jpg)
[code]

[2018-04-05 12:37] shrv commented on #387
@sergibondarenko
In kibana.log grep Sentinl:
[code]
If  need, I to attach a full file.
Now I stopped this script.

[2018-04-05 12:48] sergibondarenko commented on #387
@shrv ok, I can reproduce. The problem is when a nonexistent index is searched.

List your indexes
[code]

[2018-04-05 12:48] sergibondarenko commented on #387
@shrv the temporary workaround is specifying an existing index name.

[2018-04-05 12:51] sergibondarenko commented on #385
@Efeyabel also please list your indices
[code]

[2018-04-05 12:55] shrv commented on #387
@sergibondarenko
I tried to specify an index in an explicit form. Without a mask.
For example, the index for now, in which I am looking for a filebeat-2018.04.05
And I received the same error.

request
[code]
response
[code]

[2018-04-05 12:57] sergibondarenko commented on #387
The correct property is called `index`
[code]

[2018-04-05 12:59] sergibondarenko opened #390 "Don't use deprecated indices in docs"
[code]

[2018-04-05 13:00] lmangani commented on #390
We'll need to do docs per branch in order for this to be consistent unless the new format is backwards compatible?

[2018-04-05 13:11] shrv commented on #387
@sergibondarenko
Oh, thank you very much, for your help! and for your great patience!
It's work!

Can I still not be a little brazen and ask.
Is it possible to form a letter with the result. In which there will be listed data (in a cycle).
Now the query I generate returns, number of records. I would like to form a letter not just with the number of blocked requests (sampling from the log of the Mo

[2018-04-05 13:24] sergibondarenko commented on #387
@shrv please let's not clutter this issue. Create a new issue if you have question.

[2018-04-05 13:26] shrv commented on #387
Ok, sorry.

[2018-04-05 14:41] neelrana commented on #386
@sergibondarenko

Hello, Thank you for your response, really helpful!

I was just following this and came across a problem. from what I have read, the JSON format from my_watchers.json file is not correct inorder to use bulk api. i.e. below is the json format for one watcher that I retrieved from the old node:
[code]

However, Whenever I try to post this data into new cluster it gives me an error.

[2018-04-05 14:49] lmangani commented on #386
@neelrana the bulk format is not relevant to the single document - those are unrelated in both logic and code. There are generic tools to perform backup and restore of ES data, those should be preferred.

[2018-04-05 15:30] neelrana commented on #386
@sergibondarenko @lmangani  Do you have any idea as to how to fix this?:

![image](https://user-images.githubusercontent.com/9300684/38375601-84d70d08-38ee-11e8-8406-43fa17a9210d.png)

I managed to post single watchers without the bulk api however I cannot seem to post multiple watchers at once

[2018-04-05 15:45] szydan commented on #386
@neelrana could you post the testingWatchers.json file?

[2018-04-05 15:45] lmangani commented on #386
@neelrana how is this related to sentinl? We cannot unfortunately help with general issues related to Elasticsearch, but perhaps other users might have time to do that - I would suggest practicing from the Kibana dev console.

[2018-04-06 14:48] shrv opened #391 "need help watcher script"
1. Sentinl  - 6.2.2. and Kibana - 6.2

I'm trying to create an informative message about events, but I only see the number of matched rows. Can you tell me, where i wrong dit?
 My RAW
[code]
But in TAB ALARM i see only Hit Count : {{payload.hits.total}}, without {{text}}
![elk7](https://user-images.githubusercontent.com/11438507/38427546-2d71e586-39c2-11e8-9a88-b937086e0303.jpg)
Thank's!

[2018-04-06 15:19] lmangani commented on #391
untested:
[code]

[2018-04-06 15:19] #391 closed

[2018-04-07 02:08] Arun-Ghosh opened #392 "Number of alert we can set in Sentinl"
Hi Team,

Is there any limit of number of alert I can set in sentinl? If yes then, how to overcome it ? Because after setting up 50 alert sentinl, it stop accepting any more alert.

Just 1 update. Its creating the alert. But its not showing in the sentinl watcher dashboard. Similar I am facing in "Sentinl" --> "Editor" -->  "Input" --> "Load Input", only 50 _load input_ max.

ELK version 6.2.2
Sen

[2018-04-09 07:25] shrv commented on #391
@lmangani Thank you, for you help.
But this not work.
I fixed it as you advised.
[code]
There are no errors while running the script.
Bou in log i see only Hint Count.
![elk8](https://user-images.githubusercontent.com/11438507/38484750-4157c4b0-3be0-11e8-9472-e433961384cc.jpg)

[2018-04-09 07:40] shrv commented on #391
And just one more question, maybe you can tell me why?
Before I began to try to give the text in the log.
At me, in section of a script there was one record
  Script: payload.hits.total> 0
If this value was 0, nothing was written to the log. It is right.
Now - the log is written and when the value is 0.

[2018-04-09 10:37] shrv commented on #391
@lmangani @sergibondarenko
Guys, in the attachment, in txt file, result search. This for Example.
[example_elk.txt](https://github.com/sirensolutions/sentinl/files/1889428/example_elk.txt)
For this result i probe two watcher scripts.
**1.** Since, visually, in the returned result, **payload.hits.hits[0].total_points** is an array, I try to access it by index (the first element of the array) and ge

[2018-04-09 10:47] lmangani commented on #391
Hard to tell without seeing the response this script gets.
Did you familiarize with the options `mustache` offers for iterating the results and build the output?

[2018-04-09 11:00] shrv commented on #391
@lmangani I attachment result this script (example_elk.txt) in message above.
no, I did not see how to try it with the mustache

[2018-04-09 11:04] lmangani commented on #391
Hi @shrv its imperative you do understand how to use mustache to win at SENTINL :) its extremely easy and I think it will solve your problem and open up new possibilities expressing results.

[2018-04-09 11:09] Efeyabel commented on #385
I reinstall all my kibana setup and Sentinl and still got error.

Here is my _cat/indices
[code]

[2018-04-09 11:11] shrv commented on #391
@lmangani
I hope so :).
It remains to find examples of how to connect and use it :)
I hope Google will help me :)

[2018-04-09 11:46] lmangani commented on #391
... we have a presentation explaining how this works of course, but it seems like a wasted effort if nobody's reading it... ```No Fear! Check out our SENTINL presentation to get started off right!```
https://www.slideshare.net/secret/gobTp9S3omqn9a

This being said, the original docs are awesome, no need to google: https://mustache.github.io/mustache.5.html

[2018-04-10 05:38] Arun-Ghosh commented on #392
Find the solution. Need to update : **Joi.number().default(50)** line in **index.js** page.

Please close this issue.

[2018-04-10 09:27] shrv commented on #387
I completed my tests with a wattcher with output information in the log.
And I went to tests with sending messages.
Let me remind you, I have ELK 6.2
sentinl 6.2.2
I changed the configuration in the kiban, now he is like that.
[code]
Kibana does not start again. Errors are as follows.
[code]

[2018-04-10 09:29] lmangani commented on #387
The error is actually very specific in terms of what's happening and what to try next:
[code]

Have you yet tried removing those to see the difference?

[2018-04-10 09:43] shrv commented on #387
Yes, I comment's this string (port and domain)
Kibana is running.
Now I will try to send a e-mail.
P.S. @lmangani  thank's for you help and and a hint with mustache.
I received a message in the log, as I wanted.

[2018-04-11 02:13] houhuiteng opened #393 "How can we support configuration default_index: watcher at V6"
sentinl v6.22  doesn't support configuration  default_index: watcher ,

How can we support it?

[2018-04-11 02:27] manish2479 commented on #384
I was using sentinl v6.2.2, but the new build seems fixed the issue.  I have already got ELK with Filebeat configured and seems working well, So thank you for the new build, now I would like to go in depth with this plugin, like how I can filter certain key words and get alerts only for those and not everything logged into kibana/Elasticsearch.

Now I would like file key words like "kernel"  or "k

[2018-04-11 12:32] sergibondarenko opened #394 "Better handle errors and warnings inside watcher handler class"

[2018-04-11 12:35] #394 closed

[2018-04-11 12:49] sergibondarenko commented on #393
@houhuiteng in v6.2.2 Sentinl uses Kibana savedObjectsAPI and saves indexes only in `.kibi` index. Why do you want to support it?

[2018-04-11 12:51] #392 closed

[2018-04-11 12:54] sergibondarenko commented on #390
@lmangani the new format (`index`) is not compatible with Elasticsearch 2.x. I think we need to separate the documentation by version. We already have this but there, for example, the config: http://sentinl.readthedocs.io/en/latest/Config-Example/

But I believe there should be a better mode.

[2018-04-11 12:55] sergibondarenko commented on #388
Sorry, for the late response. Please try [the latest pre-release](https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.3-2).  Errors are handled better in the watcher handler code there.

Let me know.

[2018-04-11 12:58] sergibondarenko commented on #387
I close the issues because the problem was resolved. @shrv please reopen it if you feel it is not. Create a new issue if you have another error.

Please try [the latest pre-release](https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.3-2).  Errors are handled better in the watcher handler code there.

Let me know.

[2018-04-11 12:58] #387 closed

[2018-04-11 12:59] sergibondarenko commented on #385
@Efeyabel Sorry, for the late response. Please try [the latest pre-release](https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.3-2).  Errors are handled better in the watcher handler code there.

Let me know.

[2018-04-11 13:04] sergibondarenko commented on #384
@manish2479
To create an alert based on a filtered data from Elasticsearch, use [bool query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-bool-query.html). Insert it in the editor inside Input tab under `body` property
![screenshot from 2018-04-11 15-02-41](https://user-images.githubusercontent.com/5389745/38618309-816b4de6-3d99-11e8-82ea-8e2561a9f8ef.png)

There is a

[2018-04-11 13:04] #384 closed

[2018-04-11 13:11] jccq commented on #393
sergei should be .siren ?

[2018-04-11 13:13] sergibondarenko commented on #289
We improved email config in Sentinl v6: http://sentinl.readthedocs.io/en/latest/Config-Example/#kibana-config-for-sentinl-v6

I close this issue because you wrote

Please reopen the issue if you feel the problem was not solved.

[2018-04-11 13:13] #289 closed

[2018-04-11 13:49] sergibondarenko commented on #393
@jccq the default index is assigned automatically on Sentinl start. Sentinl gets it from kibana.yml or investigate.yml, config option `kibana.index`. Watchers is saved in `.siren` index if this value is assigned to `kibana.index` property. Currently, it is assigned:
[code]

[2018-04-11 14:02] neelrana commented on #386
My apologies, I will ask about this in Elasticsearch discussion thread. I turned to manually importing the watcher alarms in sentinl v6.2.2 with kibana6.2.2 and elasticsearch 6.2.2.

However I get this error. Would you know what the issue might be? as the error message is very ambiguous.

![image](https://user-images.githubusercontent.com/9300684/38621706-4cf129b4-3d99-11e8-99fb-d729d27d75ee.png)

[2018-04-11 14:09] sergibondarenko commented on #386
@neelrana you work in the Kibana dev tools, thus it is Kibana issue. Look at the Kibana server logs for errors. Try to reload Kibana.

[2018-04-11 19:59] manish2479 commented on #384
Hi

Thanks, so where does the slack URL configuration goes. I see the channel option but not the url or user configuration option.

Thank You

[2018-04-11 22:15] lmangani commented on #384
Check out the extended configuration example: http://sentinl.readthedocs.io/en/docs/Config-Example/
Those are all the options we currently provide.

[2018-04-12 02:46] houhuiteng commented on #393
@sergibondarenko  i want to support it, because our Business needs, I have two kibana.sentinl connections to one elasticsearch services.

[2018-04-12 05:03] avinchakov commented on #393
I have the same issue. How can I use old "watcher" index rather .kibana default?

[2018-04-12 06:35] houhuiteng commented on #393
another question ,how I reindex from old version  watcher  data?

[2018-04-12 07:44] sergibondarenko commented on #393
@avinchakov, Sentinl v6 saves watchers only in `.kibana` index. If you want, you can add this functionality and do a PR.

@houhuiteng, you can reindex manually using Elasticsearch, for example:
1. Get all watchers first. For example, get first 10 watchers and write them to `my_watchers.json` file.
[code]
2. Edit file `my_watchers.json`. Delete all lines except those inside `hits.hits` array, for e

[2018-04-12 15:44] d-malko commented on #366
What name of an index are you using?

[2018-04-13 10:55] Efeyabel commented on #385
Resolved, now i got the error:

[code]

So i check the sintaxis

[2018-04-13 10:59] lmangani commented on #385
Thanks! Feel free to open a ticket if you need help with transform separately. Resolving.
Thanks @sergibondarenko for the fix!

[2018-04-13 10:59] #385 closed

[2018-04-13 19:18] d-malko opened #396 "using SMTP server with STARTTLS negotiation"
1. Sentinl and Kibana version
Both version 5.6.8
2. Issue description
My corporate SMTP server using STARTLS negotiation how can I setup this function?
3. Reproducing the issue step-by-step
[code]

4. Expected results vs. actual results
I want sent alarm using my corporate SMTP server, if I using https://mailtrap.io all works perfect

[2018-04-13 21:36] d-malko commented on #396
Sorry for disturbing. I have updated to version 6+
Thank you for your work!

[2018-04-13 21:36] #396 closed

[2018-04-14 05:36] manish2479 commented on #384
Hi

The problem which I have initially reported and it seems I am able to reproduce it by inputting it in transform tab options.

`Editor: Fail to save field: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data`

Entry in transform option is as below:

`payload.custom = "tag"`

Thank You

[2018-04-14 09:48] lmangani commented on #384
@manish2479 sorry i have no clue what you mean or to read back and merge the dozens of comments - please help us help you by simply attaching the full `watcher` configuration for an issue you are reporting, the actual logs (including the rows before and after) and any other detail, or we won't be able to do much - Thanks.

[2018-04-16 08:19] shrv opened #397 "how manual delete alarms"
Hello!
I use ELK 6.2
sentinl - 6.2.2.

I tested watcher and save messages in console, before send alarm to mail.

![elk_alarms](https://user-images.githubusercontent.com/11438507/38797690-04d31444-4168-11e8-8d71-c39ad3539f37.jpg)
In the end, I get a page where the delete button is out of the screen.
Changes in the size of the column of the table - not was the result .
How do I delete these message

[2018-04-16 10:41] avinchakov opened #398 "No alerts after update"
1. Sentinl and Kibana version
**Kibana 6.2.3
Sentinl 6.2.3**
2. Issue description
After update to 6.2.3 I manualy moved all my alerts(export/inmport json) to the new sentinl (becouse it uses .kibana-6 index at now).  But now the schedule does not work, manual start-up works.
Debug kibana logs:
[code]

3. Reproducing the issue step-by-step
Upgrade sentinl from v5 to v6 with simple ELK instance and

[2018-04-16 11:00] sergibondarenko commented on #398
@avinchakov
Do you use Sentinl from [the latest pre-release](https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.3-2)? Please do it.
Also, post content of `kiban/config/kibana.yml` file.

[2018-04-16 11:04] sergibondarenko commented on #366
@varun0002 ok, we will fix it. For now, just put correct index name.

[2018-04-16 11:04] #366 closed

[2018-04-16 11:05] avinchakov commented on #398
@sergibondarenko
Yes, I use the latest.
[code]

[2018-04-16 11:05] sergibondarenko opened #399 "Create watcher with correct index name when spy button used"
1. Sentinl and Kibana version

2. Issue description

3. Reproducing the issue step-by-step

4. Expected results vs. actual results

5. Sample of data

6. Additional details

[2018-04-16 12:28] avinchakov commented on #398
Yes, I have alert when I click on the play button. actually I don't use reports, I will switch it to false.

[2018-04-16 12:33] avinchakov commented on #398
Ohh it seems now working after I deleted "default_type: watch" and making reports.active: false. Strange)

[2018-04-16 12:33] #398 closed

[2018-04-16 12:43] sergibondarenko commented on #397
Weird! I can't reproduce it. There is some alarm messages overflow over the right but only if browser zoom is more then 400%. As far as I understand from your screenshot it is not the case.

And I definitely can delete alarms. See the video https://youtu.be/qheAbtB9Fts

Please delete Sentinl and Kibana JS bundle. Then try again.
[code]

[2018-04-16 13:06] shrv commented on #397
Thank's
The way you proposed - remove and put the new version, helped me :+1:

[2018-04-16 15:27] #397 closed

[2018-04-16 20:48] mreilly82 opened #400 "v6.2.3 not starting"
1. Sentinl and Kibana version
Kibana v6.2.3 Sentinl v6.2.3
Ubuntu 16.04

2. Issue description
Sentinl will not start up when starting up Kibana. See the floowing message in logs:
{"type":"log","@timestamp":"2018-04-16T20:40:49Z","tags":["plugin","warning"],"pid":16820,"path":"/usr/share/kibana/plugins/sentinl","message":"Skipping non-plugin directory at /usr/share/kibana/plugins/sentinl"}
Also, wh

[2018-04-17 08:53] sergibondarenko commented on #400
@mreilly82
Is it an upgrade from old Sentinl? Post `kibana.yml` config here.

[2018-04-17 08:53] sergibondarenko commented on #400
Do you use the latest pre-release? https://github.com/sirensolutions/sentinl/releases/tag/tag-6.2.3-2
Please do.

[2018-04-17 08:56] sergibondarenko commented on #400
@mreilly82 Do you use authentication?

**Tip:** at first try with minimal config:
[code]

[2018-04-17 14:44] shrv opened #401 "array_compare does not work"
Hello.
I have ELK - 6.2
Sentinl - https://github.com/sirensolutions/sentinl/releases/download/tag-6.2.3-2/sentinl-v6.2.2.zip

I tested array_compare (how to in manual http://sentinl.readthedocs.io/en/latest/Watcher-Anatomy/#condition, By the way, in your example, I think, you have an extra comma.)

My condition
[code]

Result in log
[code]
But, as I understand it, I not must to get the result (I s

[2018-04-17 15:08] lmangani commented on #401
Can perhaps try using a double set and check for any results first?

[code]

[2018-04-17 15:15] shrv commented on #401
@lmangani
Hi!
I would have done so.
But in my case, the hit total is always greater than 0.
aggregation, this is already the result of a sample from the found
example:
[code]

[2018-04-17 15:27] lmangani commented on #401
Oh i see, how about a simple condition aganist the array length? Something like:
`if payload.aggregations[2] && payload.aggregations[2].buckets.length > 0`

[2018-04-17 15:57] mreilly82 commented on #400
This was first install of Sentinl no upgrade on this.

Sent from my iPhone

[2018-04-17 19:36] manish2479 commented on #384
I think I figured it out it seems I have not used the right body format in transform body section. Once I defined

[code]

where else previously I had only defined payload.custom = "tag", which seems not right format for the body section in transform.

So where do I can find more examples of transform section.

[2018-04-17 19:46] lmangani commented on #384
@manish2479 both condition and transport are pure javascript they can do anything JS can to the data.

[2018-04-18 07:28] sergibondarenko commented on #400
@mreilly82 does it work with the minimal config?

[2018-04-18 07:42] shrv commented on #401
@lmangani
Hello, thank you for you help.
But not works.
My condition:
[code]

Result:
![elk_alarms1](https://user-images.githubusercontent.com/11438507/38918048-39ec4324-42f5-11e8-8746-93a901143d5d.jpg)

[2018-04-18 07:46] lmangani commented on #401
This works for me:

[code]

[2018-04-18 08:00] shrv commented on #401
@lmangani
Yep!!!!!!
With out IF - it work's!

Many thanks for your help!

[2018-04-18 08:01] #401 closed

[2018-04-18 15:34] mreilly82 commented on #400
[kibana.yml.txt](https://github.com/sirensolutions/sentinl/files/1924724/kibana.yml.txt)

Using minimal config, it doesnt work either. This is built on a VM so I will actually rebuild my VM from scratch and try again and update status

[2018-04-18 15:44] d-malko commented on #374
I am a new bee...
What package I must install on my server to receive reports? Chromium with dependencies takes 560M is this packet need to be installed?

[2018-04-18 16:08] sergibondarenko commented on #400
@mreilly82 try to clean Kibana JS bundles and reinstall Sentinl
[code]

[2018-04-19 01:23] AlphaJosh opened #402 "Windows Report Issue"
I am using Kibana v6.2.3 with the Sentinl 6.2.3 plugin and I am struggling to understand how to create a report of a visualization. Could someone help me please?

I am not seeing any errors and can see scheduler working in the logs so I don't  believe there is problem.

I would like some timelion graphs to be emailed out on the first day of the month.

Do I need to install Spy, Kibi or Kaae in add

[2018-04-19 07:21] Beast12 opened #403 "Watchers: fail to execute watcher: fail to impersonate Elasticsearch API client"
1. Sentinl and Kibana version
Sentinl version: 6.1.1
Kibana Version: kibana-6.1.1-1.x86_64
2. Issue description
When I try to run a watch created by sentinl I get following error:
In Kibana:
`Watchers: fail to execute watcher: fail to impersonate Elasticsearch API client: fail to authenticate watcher, user was not found`

In the log file:
[code]
3. Reproducing the issue step-by-step

- Install Sen

[2018-04-19 07:32] #400 closed

[2018-04-19 07:42] sergibondarenko commented on #402
Hey @AlphaJosh
You can there is a guide in wiki http://sentinl.readthedocs.io/en/latest/Watcher-Wizard/#using-the-wizard

There are three thing to do:
1. Install Sentinl, look [readme](https://github.com/sirensolutions/sentinl) for help
2. Configure Sentinl. Here is the minimal config you need in `kibana.yml` to make report work:
[code]
  From this doc http://sentinl.readthedocs.io/en/latest/HOWTO

[2018-04-19 07:54] sergibondarenko commented on #403
Hey @Beast12
Here is a problem in your config:
[code]

Now Sentinl doesn't support custom index. All watchers are saved to `.kibana` index automatically. We are going to fix this for v6.x

Solution for you now is:
1. Recreate all your watchers, for example using UI editor or `curl`
2. Don't use `sentinl.es.default_index:` option inside `kibana.yml`

[2018-04-19 08:09] Beast12 commented on #403
Hi @sergibondarenko
Thanks for the reply. I'm still testing so I deleted the watch I previously created. But I still get the same error.

Log file:
[code]
kibana.yml:

[code]

[2018-04-19 09:52] cyberdak opened #404 "[feature request]support group query"
i will use SQL-LIKE query and pseudocode to describe this feature.

query like : select count(*) from table group by userid

resultset :[{"name":"userA","count":"100"},{"name":"userB","count":"10"}]

condition : count > 50

action : ${resultset.name} hits > 50

If whitout this function , user must add N rules for every user.

[2018-04-20 04:17] #403 closed, assigned to nobody

[2018-04-20 09:34] TimothyFehr opened #405 "search guard permission denied"
1. Sentinl and Kibana version
6.2.2 (both)

2. Issue description

I followed the dokumenataion by setting up search guard and sentinl but it seams to me that the dokumentation is not complete or i am mssing some other logical step.

3. Reproducing the issue step-by-step
clone https://github.com/deviantony/docker-elk
go to the searchguard branch build and bring up according to read me

tear down th

[2018-04-23 08:38] sergibondarenko commented on #405
@TimothyFehr User permission is assingned in SearchGuard, not in Sentinl. Did you follow [this howto](https://github.com/sirensolutions/sentinl/blob/master/docs/HOWTO-Sentinl-and-SearchGuard.md)?  Please paste content of `kibana.yml` file.

[2018-04-23 10:58] TimothyFehr commented on #405
u did it acording to your documentation here:
http://sentinl.readthedocs.io/en/latest/HOWTO-Sentinl-and-SearchGuard/

It is also nearly identical (i use http not https)

my kibana.yml:
`---
## Default Kibana configuration from kibana-docker.
## from https://github.com/elastic/kibana-docker/blob/master/build/kibana/config/kibana.yml
#
server.name: kibana
server.host: "0"
elasticsearch.url: http://e

[2018-04-23 12:13] sergibondarenko commented on #374
@d-malko yes, this package

[2018-04-23 12:42] sergibondarenko commented on #405
@TimothyFehr
1. You ES need to set protocol to `https`:
[code]
2. Report config misses one important parameter, `executable_path`:
[code]
3. Sentinl stores/deletes watchers in an index specified in `kibana.index` of kibana.yml file (`.kibana` by default). Also, Sentinl needs other indices to store/delete alarms, for example
[code]
You have to make sure there are correct permission for Kibana serve

[2018-04-23 19:26] wqshabbir opened #406 "Loading watchers in sentinl plugin 6.2.3"
Hi,

I have just upgraded ELK stack to version 6.2.3 from version 6.0.0. Just to keep things aligned i also installed sentinl 6.2.3

With version 6.0.0 I used to register my sentinl watchers with elastic search by posting my alert rule to endpoint like this http://localhost:9200/watcher/sentinl-watcher/test1 and it was loading in sentinl app plugin for kibana without any issues.

Now with the rece

[2018-04-23 23:40] smhulkund commented on #405
Followed the procedure, but still kibana throws this error

[error][Sentinl][report_action] Error: fail to authenticate via Search Guard, user: kibanaserver, AssertionError: No node found for selector: #username
    at /usr/share/kibana/plugins/sentinl/server/lib/actions/actions/report.js:31:13
    at throw (native)
    at step (/usr/share/kibana/plugins/sentinl/server/lib/actions/actions/report.j

[2018-04-24 00:48] smhulkund opened #407 "Sentinl + Searchguard Authentication Issue for reports generation"
1. Sentinl  : 6.2.2 ( tag 6.2.3.2 ) {latest}
    Kibana  : 6.2.2

2. Issue description
    Fail to authenticate via SearchGuard

3. Reproducing the issue step-by-step

Browser(chrome) <--https---> Kibana <---http + basic auth via Searchguard --> Elasticsearch

    kibana.yml

###################### Kibana Configuration ################################
server.port: 5601
server.host: "10.10.10.10"
e

[2018-04-24 08:03] sergibondarenko commented on #407
@smhulkund
This part of the error message gives a clue: `AssertionError: No node found for selector: #username`.

In case of Kibana+SearchGuard, the report (headless Chrome) [is looking for HTML selectors](https://github.com/sirensolutions/sentinl/blob/master/server/lib/actions/actions/report.js#L18) in order to type into username and password fields. Seems it doesn't find `#username` selector any

[2018-04-24 08:24] sergibondarenko opened #408 "Make possible to save watchers to any index"
Related to
sirensolutions/sentinl#393
sirensolutions/sentinl#398 Setting `default-type` now breaks things!!!
sirensolutions/sentinl#406
https://github.com/sirensolutions/sentinl/issues/411
https://github.com/sirensolutions/sentinl/issues/532

The problem is that now Sentinl uses Kibana savedObjectsAPI and stores all its watchers in an index specified in `kibana.index` property of `kibana.yml` file

[2018-04-24 08:27] sergibondarenko commented on #406
@wqshabbir please look this issue https://github.com/sirensolutions/sentinl/issues/408

[2018-04-24 08:27] #406 closed

[2018-04-24 13:15] smhulkund commented on #407
Thank you @sergibondarenko,

Well here is the login page

[code]
Is this correct ?

or

Either way, I get this error message

`Error: fail to authenticate via custom auth, user: elk, AssertionError: No node found for selector: #user
    at /usr/share/kibana/plugins/sentinl/server/lib/actions/actions/report.js:42:13
    at throw (native)
    at step (/usr/share/kibana/plugins/sentinl/server/lib/act

[2018-04-25 05:16] InspurKelly opened #409 "IF a watches condition is met, I want to trigger new watches,how do it？"
Sentinl and Kibana version 5.5.1

[2018-04-25 09:33] lmangani commented on #409
Hi @InspurKelly
The simplest way to sidechain is for the first watcher plant a "seed" for the second watcher to use.
So if and when a Watcher finds a result, it will write something in Elasticsearch for the second Alert to find - or the second Watcher can search for results from the first one either. Hope this helps you step in the right direction.